.margin-h-5
{
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.margin-h-20
{
    margin-left: 20px!important;
    margin-right: 20px!important;
}

.margin-h-0
{
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.margin-v-5
{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.margin-v-20
{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.margin-t-3
{
    margin-top: 3px!important;
}

.margin-t-15
{
    margin-top: 15px!important;
}

.padding-15
{
    padding: 15px!important;
}

.padding-5
{
    padding: 5px!important;
}

.padding-l-25
{
    padding-left: 25px!important;
}

.padding-l-20
{
    padding-left: 20px!important;
}


.padding-l-5
{
    padding-left: 5px!important;
}

.padding-l-0
{
    padding-left: 0!important;
}

.padding-r-0
{
    padding-right: 0!important;
}

.padding-b-50
{
    padding-bottom: 50px!important;
}

.margin-r-5
{
    margin-right: 5px!important;
}

.margin-l-5
{
    margin-left: 5px!important;
}

.bg-white
{
    background: white!important;
    border-bottom: 1px solid #ddd;
}

.border-top-form
{
    border-top: 1px solid #DDD;
}

.border-bottom-form
{
    border-bottom: 1px solid #DDD;
}

.padding-h-30
{
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.margin-h-10
{
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.margin-v-10
{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.padding-v-15
{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.no-list-style
{
    list-style-type: none!important;
}

.bg-wordpress, .label-wordpress
{
    color: #FFF;
    background-color: #21759b;
    border-color: #21759b;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.label-bitbucket {
    color: #FFF;
    background-color: #205081;
    border-color: #205081;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.recent-activity-item.recent-activity-wordpress:before {
    background: #21759b;
}
.recent-activity-item.recent-activity-wordpress .recent-activity-badge-userpic {
    border: 3px solid #21759b;
}

.recent-activity-item.recent-activity-bitbucket:before {
    background: #205081;
}
.recent-activity-item.recent-activity-bitbucket .recent-activity-badge-userpic {
    border: 3px solid #205081;
}

.vertical-middle
{
    vertical-align: middle!important;
}