{% extends 'layout-error.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('blankon/admin/css/pages/error-page.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="error-wrapper">
        <h1>404!</h1>
        <h3>NO HEMOS PODIDO ENCONTRAR LA PÁGINA QUE HA SOLICITADO!</h3>
        <h4><strong>Por Favor </strong> contacte con el Administrador del Sistema</h4>
        <a class="btn btn-theme btn-large" href="{{ path('homepage') }}">
            <i class="fa fa-home"></i> Ir al Inicio
        </a>
    </div>
{% endblock %}