{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}
{% block menu_2_11 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/commercial/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css') }}" rel="stylesheet">

    <link href="{{ asset('blankon/admin/css/pages/project-team-board.css') }}" rel="stylesheet">

{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-list"></i>Mis Proyectos</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Mis Proyectos</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="panel panel-danger shadow panel-team-board">
        <div class="panel-heading">
            <div class="pull-left">
                <h3 class="panel-title">Proyectos en Ejecución</h3>
            </div><!-- /.pull-left -->

            <div class="clearfix"></div>
        </div><!-- /.panel-heading -->
        {% if projects | length > 0 %}
        <div class="panel-sub-heading inner-all">
            <div class="clearfix">

                <div class="cbp-search cbp-l-filters-right mb-0">
                    <input id="js-search-teamboard" type="text" placeholder="Buscar por Nombre" data-search=".cbp-l-grid-blog-title" class="cbp-search-input">
                    <div class="cbp-search-icon"></div>
                </div>
                <div id="js-filters-lightbox-teamboard2" class="cbp-l-filters-button cbp-l-filters-left mb-0">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item mb-0">Todos <div class="cbp-filter-counter"></div></div>
                    <div data-filter=".in-time" class="cbp-filter-item mb-0"><span class="label label-success display-inline">&nbsp;</span> En Tiempo <div class="cbp-filter-counter"></div></div>
                    <div data-filter=".to-close" class="cbp-filter-item mb-0"><span class="label label-warning display-inline">&nbsp;</span>  Poco Tiempo <div class="cbp-filter-counter"></div></div>
                    <div data-filter=".closed" class="cbp-filter-item mb-0"><span class="label label-danger display-inline">&nbsp;</span>  Pasado de Tiempo <div class="cbp-filter-counter"></div></div>
                </div>
            </div>
        </div><!-- /.panel-sub-heading -->
        <div class="panel-body">
            <div id="js-grid-lightbox-teamboard" class="cbp mb-0">
                {% for project in projects %}
                    {% set projectTimeStatus = project.timeStatus %}
                    <div class="cbp-item {{ projectTimeStatus }}">
                        <div class="cbp-singlePageInline">
                            <div class="team-board-list panel shadow {% if projectTimeStatus == 'in-time' %}success{% elseif projectTimeStatus == 'to-close' %}warning{% else %}danger{% endif %}">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title text-uppercase"><i class="fa fa-calendar"></i> {{ project.deliveryDate | date('d/m/Y') }}</h3>
                                    </div>
                                    <div class="pull-right">
                                        <span class="label label-info text-capitalize">Etapas: {% if project.currentStage <= project.stages | length %}{{ project.currentStage }}/{{ project.stages | length }}{% else %}<i class="fa fa-thumbs-o-up margin-r-5"></i>{% endif %}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <p class="team-board-message cbp-l-grid-blog-title text-capitalize">{{ project }}</p>
                                    <p class="team-board-author cbp-l-grid-blog-title text-muted text-capitalize">{{ project.address }}</p>
                                    <p class="team-board-author text-muted text-capitalize">{{ project.comuna }}</p>
                                </div><!-- /.panel-body -->
                                <div class="panel-footer text-right">
                                    <a class="btn btn-default btn-sm margin-r-5 btn-project" href="{{ path('project_show', {'id':project.id}) }}"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-primary btn-sm btn-project" href="{{ path('project_execution', {'id':project.id, 'showStage':project.currentStage}) }}"><i class="fa fa-play"></i></a>
                                </div><!-- /.panel-footer -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div><!-- /.panel-body -->
        {% else %}
            <div class="panel-body">
                <div class="callout callout-success">
                    <h5 class="margin-t-15">No tiene ningún Proyecto pendiente!!!</h5>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/commercial/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js') }}"></script>
    <!--/ END PAGE LEVEL PLUGINS -->

    <!-- START @PAGE LEVEL SCRIPTS -->

    <script src="{{ asset('blankon/admin/js/pages/blankon.project.teamboard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-project').click(function () {
                document.location = $(this).attr('href');
               return false;
            });

            $('.cbp-item').click(function () {
                return false;
            })
        });
    </script>
{% endblock %}
