{% extends 'base-sidebar.html.twig' %}

{% block page_header %}
    <!-- Start header left -->
    <div class="header-left">

        <div class="navbar-minimize-mobile left">
            <i class="fa fa-bars"></i>
        </div>

        <!-- Start navbar header -->
        <div class="navbar-header">

            <!-- Start brand -->
            <a class="navbar-brand margin-t-3" href="{{ path('homepage') }}">
                <!--<strong>AINEL</strong>-->
                <img src="{{ asset('images/logo-white.png') }}" style="height: 45px;">
            </a><!-- /.navbar-brand -->
            <!--/ End brand -->

        </div><!-- /.navbar-header -->
        <!--/ End navbar header -->


    </div><!-- /.header-left -->
    <!--/ End header left -->

    <!-- Start header right -->
    <div class="header-right" style="height: 51px!important;">
        <!-- Start navbar toolbar -->
        <div class="navbar navbar-toolbar" style="height: 51px!important;">

            <!-- Start left navigation -->
            <ul class="nav navbar-nav navbar-left">

                <!-- Start sidebar shrink -->
                <li id="tour-2" class="navbar-minimize">
                    <a href="javascript:void(0);" title="Minimize sidebar">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <!--/ End sidebar shrink -->

                <!-- Start form search -->
                <li class="navbar-search">
                    <!-- Just view on mobile screen-->
                    <a href="#" class="trigger-search"><i class="fa fa-search"></i></a>
                    <form class="navbar-form" action="{{ path('project_home_search') }}" method="post">
                        <div class="form-group has-feedback">
                            <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
                                <input name="home-project-search" type="text" class="form-control typeahead rounded tt-input" placeholder="Buscar Proyecto" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                                <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
                                    <div class="tt-dataset-typeahead-sample"></div>
                                </span>
                            </span>
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback rounded"></button>
                        </div>
                    </form>
                </li>
                <!--/ End form search -->

            </ul><!-- /.nav navbar-nav navbar-left -->
            <!--/ End left navigation -->

            <!-- Start right navigation -->
            <ul class="nav navbar-nav navbar-right"><!-- /.nav navbar-nav navbar-right -->

                <!-- Start profile -->
                <li class="dropdown navbar-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="meta">
                                    <span class="avatar"><img style="height: 35px;" src="{{ asset('images/non-user.jpg') }}" class="img-circle" alt="admin"></span>
                                    <span class="text hidden-xs hidden-sm text-muted">{{ app.user.email }}</span>
                                    <span class="caret"></span>
                                </span>
                    </a>
                    <!-- Start dropdown menu -->
                    <ul class="dropdown-menu animated flipInX">
                        <li class="dropdown-header">Cuenta</li>
                        <li><a href="{{ path('user_show', {'id':app.user.id}) }}"><i class="fa fa-user"></i>Ver Perfil</a></li>
                        <li><a href="{{ path('user_password', {'id':app.user.id}) }}"><i class="fa fa-lock"></i>Cambiar Contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i>Salir</a></li>
                    </ul>
                    <!--/ End dropdown menu -->
                </li><!-- /.dropdown navbar-profile -->
                <!--/ End profile -->
                <!--/ End settings -->

            </ul>
            <!--/ End right navigation -->

        </div><!-- /.navbar-toolbar -->
        <!--/ End navbar toolbar -->
    </div><!-- /.header-right -->
    <!--/ End header left -->
{% endblock %}

{% block page_sidebar %}
    <div class="sidebar-content">
        <div class="media">
            <a class="pull-left has-notif avatar" href="">
                <img src="{{ asset('images/non-user.jpg') }}" alt="admin">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Hola, <span>{{ app.user.name }}</span></h4>
                <small>{{ app.user.charge }}</small>
            </div>
        </div>
    </div>

    <ul class="sidebar-menu" tabindex="0">

        <li class="submenu {% block menu_1 %}{% endblock %}">
            <a href="{{ path('homepage') }}">
                <span class="icon"><i class="fa fa-home"></i></span>
                <span class="text">Inicio</span>
                {% block menu_1_0 %}
                {% endblock %}
            </a>
        </li>

        <!-- Start navigation - Projects -->
        <li class="submenu {% block menu_2 %}{% endblock %}">
            <a href="javascript:void(0);">
                <span class="icon"><i class="fa fa-cogs"></i></span>
                <span class="text">Proyectos</span>
                <span class="arrow"></span>
                {% block menu_2_0 %}
                {% endblock %}
            </a>
            <ul>
                {% if app.user.charge.isProjectDirector %}
                    <li class="{% block menu_2_11 %}{% endblock %}"><a href="{{ path('project_index_designer') }}"><i class="fa fa-cogs"></i> Mis Proyectos</a></li>
                {% endif %}
                {% if app.user.charge.isProjectManager %}
                <li class="{% block menu_2_1 %}{% endblock %}"><a href="{{ path('project_new') }}"><i class="fa fa-plus-circle"></i> Crear</a></li>
                <li class="{% block menu_2_3 %}{% endblock %}"><a href="{{ path('project_index', {'status':'saved'}) }}"><i class="fa fa-save"></i> Guardados</a></li>
                <li class="{% block menu_2_4 %}{% endblock %}"><a href="{{ path('project_index', {'status':'activated'}) }}"><i class="fa fa-play"></i> En Ejecución</a></li>
                <li class="{% block menu_2_10 %}{% endblock %}"><a href="{{ path('project_index', {'status':'reviewed'}) }}"><i class="fa fa-search"></i> En Revisión</a></li>
                <li class="{% block menu_2_5 %}{% endblock %}"><a href="{{ path('project_index', {'status':'approved'}) }}"><i class="fa fa-thumbs-o-up"></i> Aprobados</a></li>
                <li class="{% block menu_2_6 %}{% endblock %}"><a href="{{ path('project_index', {'status':'quoted'}) }}"><i class="fa fa-money"></i> Despachados</a></li>
                <li class="{% block menu_2_7 %}{% endblock %}"><a href="{{ path('project_index', {'status':'paid'}) }}"><i class="fa fa-check-circle"></i> Pagados</a></li>
                <li class="{% block menu_2_8 %}{% endblock %}"><a href="{{ path('project_index', {'status':'frozen'}) }}"><i class="fa fa-pause"></i> Paralizados</a></li>
                <li class="{% block menu_2_9 %}{% endblock %}"><a href="{{ path('project_index', {'status':'canceled'}) }}"><i class="fa fa-remove"></i> Devueltos</a></li>
                {% endif %}
            </ul>
        </li>
        <!--/ End navigation - Projects -->

        {% if app.user.charge.isProjectManager %}
        <!-- Start navigation - Reports -->
        <li class="submenu {% block menu_3 %}{% endblock %}" >
            <a href="javascript:void(0);">
                <span class="icon"><i class="fa fa-table"></i></span>
                <span class="text">Reportes</span>
                <span class="arrow"></span>
                {% block menu_3_0 %}
                {% endblock %}
            </a>
            <ul>
                <li class="{% block menu_3_1 %}{% endblock %}"><a href="{{ path('filter_index') }}"><i class="fa fa-filter"></i> Filtros</a></li>
                <li class="{% block menu_3_2 %}{% endblock %}"><a href="{{ path('filter_payment') }}"><i class="fa fa-dollar"></i> Estados de Pago</a></li>
            </ul>
        </li>
        <!--/ End navigation - Reports -->

        <!-- Start navigation - Users -->
        <li class="submenu {% block menu_4 %}{% endblock %}">
            <a href="javascript:void(0);">
                <span class="icon"><i class="fa fa-users"></i></span>
                <span class="text">Trabajadores</span>
                <span class="arrow"></span>
                {% block menu_4_0 %}
                {% endblock %}
            </a>
            <ul>
                <li class="{% block menu_4_1 %}{% endblock %}"><a href="{{ path('user_new') }}"><i class="fa fa-plus-circle"></i> Crear</a></li>
                <li class="{% block menu_4_2 %}{% endblock %}"><a href="{{ path('user_index') }}"><i class="fa fa-list"></i> Listado</a></li>
            </ul>
        </li>
        <!--/ End navigation - Users -->

        <!-- Start navigation - Reports -->
        <li class="submenu {% block menu_5 %}{% endblock %}">
            <a href="javascript:void(0);">
                <span class="icon"><i class="fa fa-cog"></i></span>
                <span class="text">Administración</span>
                <span class="arrow"></span>
                {% block menu_5_0 %}
                {% endblock %}
            </a>
            <ul>
                <li class="{% block menu_5_1 %}{% endblock %}"><a href="{{ path('charge_index') }}"><i class="fa fa-list"></i> Cargos</a></li>
                <li class="{% block menu_5_2 %}{% endblock %}"><a href="{{ path('activity_index') }}"><i class="fa fa-list"></i> Baremos</a></li>
                <li class="{% block menu_5_10 %}{% endblock %}"><a href="{{ path('activityComplexity_index') }}"><i class="fa fa-list"></i> Complejidad de Baremos</a></li>
                <li class="{% block menu_5_3 %}{% endblock %}"><a href="{{ path('stage_index') }}"><i class="fa fa-list"></i> Etapas</a></li>
                <li class="{% block menu_5_5 %}{% endblock %}"><a href="{{ path('projectKind_index') }}"><i class="fa fa-list"></i> Tipos de Proyecto</a></li>
                <li class="{% block menu_5_9 %}{% endblock %}"><a href="{{ path('projectClass_index') }}"><i class="fa fa-list"></i> Clases de Proyecto</a></li>
                <li class="{% block menu_5_6 %}{% endblock %}"><a href="{{ path('typeOT_index') }}"><i class="fa fa-list"></i> Tipos de OT</a></li>
                <li class="{% block menu_5_7 %}{% endblock %}"><a href="{{ path('area_index') }}"><i class="fa fa-list"></i> Areas</a></li>
                <li class="{% block menu_5_8 %}{% endblock %}"><a href="{{ path('term_index') }}"><i class="fa fa-list"></i> Tipos de Plazo</a></li>
                <li class="{% block menu_5_4 %}{% endblock %}"><a href="{{ path('projectType_index') }}"><i class="fa fa-list"></i> Metodologías de Trabajo</a></li>
            </ul>
        </li>
        <!--/ End navigation - Reports -->
        {% endif %}
    </ul>
{% endblock %}



{% block page_content_footer %}
    <span id="copyright-year">2018</span>  © AINEL-SGP
{% endblock %}