{% extends 'layout.html.twig' %}

{% block body %}
<!-- START HEADER -->
<header id="header">
    {% block page_header %}{% endblock %}
</header><!-- /#header -->
<!--/ END HEADER -->

<!-- START PAGE CONTENT -->
<section>

    <!-- START HEADER CONTENT -->
    <div class="header-content">
        {% block page_content_header %}{% endblock %}
    </div><!-- /.header-content -->
    <!--/ END HEADER CONTENT -->

    <!-- START BODY CONTENT -->
    <div class="body-content" style="padding: 0!important;">
        {% block page_content_body %}{% endblock %}
    </div><!-- /.body-content -->
    <!--/ END BODY CONTENT -->

    <!-- START FOOTER CONTENT -->
    <div class="footer-content">
        {% block page_content_footer %}{% endblock %}
    </div><!-- /.footer-content -->
    <!--/ END FOOTER CONTENT -->

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->
{% endblock %}