<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}AINEL-SGP{% endblock %}</title>

    <link href="{{ asset('images/icon.ico') }}" rel="shortcut icon">

    <!-- CSS FILES-->
    <!-- START @GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" href="{{ asset('blankon/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!--/ END GLOBAL MANDATORY STYLES -->

    <!-- START @PAGE LEVEL STYLES -->
    <link href="{{ asset('blankon/global/plugins/bower_components/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/animate.css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/dropzone/downloads/css/dropzone.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/jquery.gritter/css/jquery.gritter.css') }}" rel="stylesheet">
    <!--/ END PAGE LEVEL STYLES -->

    <!-- START @THEME STYLES -->
    <link href="{{ asset('blankon/admin/css/reset.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/admin/css/layout.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/admin/css/components.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/admin/css/plugins.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/admin/css/themes/red.theme.css') }}" rel="stylesheet" id="theme">
    <link href="{{ asset('blankon/admin/css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('css/app/utils.css') }}" rel="stylesheet">
    <!--/ END THEME STYLES -->

    <!-- START @IE SUPPORT -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--/ END IE SUPPORT -->

    {% block stylesheets %}{% endblock %}
</head>
<body class="page-footer-fixed page-header-fixed page-sidebar-fixed">
<!-- START WRAPPER -->
<section id="wrapper">
    {% block body %}{% endblock %}
</section>
<!--/ END WRAPPER -->

<!-- JAVASCRIP FILES-->
<!-- START @CORE PLUGINS -->
{#
<script src="{{ asset('blankon/global/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
#}
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/jquery-cookie/jquery.cookie.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/typehead.js/dist/handlebars.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/typehead.js/dist/typeahead.bundle.min.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/jquery-nicescroll/jquery.nicescroll.min.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/jquery.sparkline.min/index.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/jquery-easing-original/jquery.easing.1.3.min.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/bootbox/bootbox.js') }}"></script>

<!--/ END CORE PLUGINS -->

<!-- START @PAGE LEVEL PLUGINS -->
<script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/dropzone/downloads/dropzone.min.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/jquery.gritter/js/jquery.gritter.min.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/skycons-html5/skycons.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/waypoints/lib/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('blankon/global/plugins/bower_components/counter-up/jquery.counterup.min.js') }}"></script>
<!--/ END PAGE LEVEL PLUGINS -->

<script src="{{ asset('blankon/admin/js/apps.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>