<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}AINEL-SGP{% endblock %}</title>

    <link href="{{ asset('images/icon.ico') }}" rel="shortcut icon">

    <!-- CSS FILES-->
    <!-- START @GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" href="{{ asset('blankon/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!--/ END GLOBAL MANDATORY STYLES -->

    <!-- START @PAGE LEVEL STYLES -->
    <link href="{{ asset('blankon/global/plugins/bower_components/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!--/ END PAGE LEVEL STYLES -->

    <!-- START @THEME STYLES -->
    <link href="{{ asset('blankon/admin/css/reset.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/admin/css/components.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/admin/css/plugins.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/admin/css/themes/red.theme.css') }}" rel="stylesheet" id="theme">
    <link href="{{ asset('blankon/admin/css/custom.css') }}" rel="stylesheet">
    <!--/ END THEME STYLES -->

    <!-- START @IE SUPPORT -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--/ END IE SUPPORT -->

    {% block stylesheets %}{% endblock %}
</head>
<body style="overflow-y: hidden;">
<!-- START WRAPPER -->
{% block body %}{% endblock %}
<!--/ END WRAPPER -->
</body>
</html>