{% extends 'base.html.twig' %}

{% block menu_1 %}active{% endblock %}
{% block menu_1_0 %}<span class="selected"></span>{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-home"></i>Inicio <span>Bienvenido al Sistema de Gestión de Proyectos</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Inicio</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="margin-v-20 margin-h-20">
        {% if app.user.charge.isProjectManager %}
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mini-stat-type-4 bg-inverse shadow">
                    <h3>GUARDADOS</h3>
                    <h1 class="count" data-counter="25">{{ projects.saved }}</h1>
                    <a href="{{ path('project_index', {'status' : 'saved' }) }}" class="btn btn-inverse">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mini-stat-type-4 bg-primary shadow">
                    <h3>EN EJECUCIÓN</h3>
                    <h1 class="count" data-counter="7">{{ projects.activated }}</h1>
                    <a href="{{ path('project_index', {'status' : 'activated' }) }}" class="btn btn-primary">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mini-stat-type-4 bg-warning shadow">
                    <h3>EN REVISIÓN</h3>
                    <h1 class="count" data-counter="3">{{ projects.reviewed }}</h1>
                    <a href="{{ path('project_index', {'status' : 'reviewed' }) }}" class="btn btn-warning">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mini-stat-type-4 bg-wordpress shadow">
                    <h3>APROBADOS</h3>
                    <h1 class="count" data-counter="3">{{ projects.approved }}</h1>
                    <a href="{{ path('project_index', {'status' : 'approved' }) }}" class="btn btn-wordpress">VER</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mini-stat-type-4 bg-lilac shadow">
                    <h3>DESPACHADOS</h3>
                    <h1 class="count" data-counter="25">{{ projects.quoted }}</h1>
                    <a href="{{ path('project_index', {'status' : 'quoted' }) }}" class="btn btn-lilac">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mini-stat-type-4 bg-success shadow">
                    <h3>PAGADOS</h3>
                    <h1 class="count" data-counter="7">{{ projects.paid }}</h1>
                    <a href="{{ path('project_index', {'status' : 'paid' }) }}" class="btn btn-success">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mini-stat-type-4 bg-bitbucket shadow">
                    <h3>PARALIZADOS</h3>
                    <h1 class="count" data-counter="3">{{ projects.frozen }}</h1>
                    <a href="{{ path('project_index', {'status' : 'frozen' }) }}" class="btn btn-bitbucket">VER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="mini-stat-type-4 bg-danger shadow">
                    <h3>DEVUELTOS</h3>
                    <h1 class="count" data-counter="3">{{ projects.canceled }}</h1>
                    <a href="{{ path('project_index', {'status' : 'canceled' }) }}" class="btn btn-danger">VER</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app.user.charge.isProjectDirector %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="mini-stat-type-4 bg-success shadow">
                    <h3>MIS PROYECTOS EN TIEMPO</h3>
                    <h1 class="count" data-counter="25">{{ userProjectTimeStatus['in-time'] }}</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="mini-stat-type-4 bg-warning shadow">
                    <h3>MIS PROYECTOS POCO TIEMPO</h3>
                    <h1 class="count" data-counter="25">{{ userProjectTimeStatus['to-close'] }}</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="mini-stat-type-4 bg-danger shadow">
                    <h3>MIS PROYECTOS PASADOS DE TIEMPO</h3>
                    <h1 class="count" data-counter="25">{{ userProjectTimeStatus['closed'] }}</h1>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="modal modal-danger" id="home-search-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i> Error</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">No existe ningún Proyecto con ese nombre.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            {% for message in app.flashes('home-search-error') %}
            $('#home-search-error-modal').modal({});
            {% endfor %}
        });
    </script>
{% endblock %}