{% extends 'base.html.twig' %}

{% block menu_5 %}active{% endblock %}
{% block menu_5_0 %}<span class="selected"></span>{% endblock %}
{% block menu_5_3 %}active{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Detalles de la Etapa</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Detalles de la Etapa</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos del Etapa</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">
                    <div class="form-horizontal form-bordered">
                        <div class="form-body padding-15">

                            <div class="form-group">
                                <strong class="no-padding control-label col-sm-3">Nombre:</strong>
                                <div class="col-sm-9">
                                    <p>{{ stage.name }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <strong class="no-padding col-sm-3 control-label">Descripción:</strong>
                                <div class="col-sm-9">
                                    {% if stage.description is not null %}
                                        {{ stage.description }}
                                    {% else %}
                                        <span class="label label-warning">SIN DESCRIPCIÓN</span>
                                    {% endif %}
                                </div>
                            </div>

                        </div><!-- /.form-body -->
                    </div>

                    <div class="form-footer">
                        <div class="pull-right">
                            <a class="btn btn-success" href="{{ path('stage_edit', {'id' : stage.id}) }}"><i class="fa fa-edit"></i> Editar</a>
                        </div>
                        <div class="pull-right margin-h-5" id="delete-form">
                            {{ form_start(deleteForm) }}
                                <button type="submit" class="btn btn-danger btn-delete">
                                    <i class="fa fa-remove"></i> Eliminar
                                </button>
                            {{ form_end(deleteForm) }}
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-primary" href="{{ path('stage_index') }}"><i class="fa fa-list"></i> Ir al Listado</a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
        <div class="col-md-3"></div>
    </div>

    <div class="modal modal-success" id="create-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Etapa creada satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-primary" id="delete-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea eliminar la Etapa.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-delete">Eliminar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-delete').click(function () {
                $('#delete-confirm-modal').modal({});
                return false;
            });

            $('#confirm-delete').click(function () {
                $('#delete-form form').submit();
            });

            {% for message in app.flashes('created-ok') %}
                $('#create-ok-modal').modal({});
            {% endfor %}
        });
    </script>
{% endblock %}
