{% extends 'base.html.twig' %}

{% block menu_3 %}active{% endblock %}
{% block menu_3_0 %}<span class="selected"></span>{% endblock %}
{% block menu_3_1 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/editor.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/datatables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/select.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/buttons.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">

    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-filter"></i>Filtros</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Filtros</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="panel panel-theme">
        <div class="panel-heading">
            <div class="pull-left">
                <h3 class="panel-title"><i class="fa fa-filter"></i> Filtro</h3>
            </div>
            <div class="pull-right">
                <button class="btn btn-sm" data-action="collapse"><i class="fa {% if filterButton == 'clean' %}fa-angle-up{% else %}fa-angle-down{% endif %}"></i></button>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="display: {% if filterButton == 'clean' %}block{% else %}none{% endif %};">
            {{ form_start(form, {'attr':{'class':'form-bordered'}}) }}
            <div class="row">
                <div class="col-md-4">
                    {% set element = form.name %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-4">
                    {% set element = form.class %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-4">
                    {% set element = form.area %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div class="row border-top-form margin-h-0">
                <div class="col-md-4 padding-l-0">
                    {% set element = form.designer %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-4">
                    {% set element = form.executive %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-4 padding-r-0">
                    {% set element = form.specialist %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div class="row border-top-form margin-h-0">
                <div class="col-md-6 padding-l-0">
                    {% set element = form.address %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-6 padding-r-0">
                    {% set element = form.comuna %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
            </div>

            {% set element = form.kind %}
            <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                <label class="control-label">{{ form_label(element) }}:</label>
                {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                {% if not element.vars.valid %}
                    {% for error in element.vars.errors %}
                        <p class="help-block">
                            <span class="text-error">{{ error.message }}</span>
                        </p>
                    {% endfor %}
                {% endif %}
            </div><!-- /.form-group -->

            <div class="row border-top-form margin-h-0">
                <div class="col-md-6 padding-l-0">
                    {% set element = form.status %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-6 padding-r-0">
                    {% set element = form.term %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>

            </div>

            <div class="row border-top-form margin-h-0">
                <div class="col-md-6 padding-l-0">
                    {% set element = form.applicationDateBegin %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-6 padding-r-0">
                    {% set element = form.applicationDateEnd %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div class="row border-top-form margin-h-0">
                <div class="col-md-6 padding-l-0">
                    {% set element = form.deliveryDateBegin %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-6 padding-r-0">
                    {% set element = form.deliveryDateEnd %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div class="form-footer">
                <div class="pull-right">
                    <button class="btn btn-danger" name="submit-button" type="submit" value="clean"><i class="fa fa-ban"></i> Limpiar Filtro</button>
                    <button class="btn btn-success" name="submit-button" type="submit" value="filter"><i class="fa fa-filter"></i> Filtrar</button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.form-footer -->
            {{ form_end(form) }}
        </div><!-- /.panel-body -->
    </div>

    {% if filterButton == 'filter' %}
    <div>
        <div class="panel panel-theme">
            <div class="panel-heading">
                <div class="pull-left">
                    <h4 class="panel-title"><i class="fa fa-table"></i>Resultados de la Busqueda</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm dropdown-toggle tooltips" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-placement="top" data-title="Cambiar Columnas">
                            <i class="fa fa-columns"></i>
                        </button>
                        <ul class="dropdown-menu pull-right dropdown-toggle-column">
                            {% for e in tableHeader %}
                                <li>
                                    <a href="#" class="toggle-column column-handler {% if loop.index0 < 5 %}column-active{% endif %}" data-column="{{ loop.index0 }}"><i id="column-handler-icon-{{ loop.index0 }}" style="color: {% if loop.index0 < 5 %}darkgreen{% else %}red{% endif %};" class="fa {% if loop.index0 < 5 %}fa-eye{% else %}fa-eye-slash{% endif %}"></i> {{ e }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <table id="table-entities" class="table table-resposive" columns-length="{{ tableHeader | length }}">
                    <thead>
                    <tr>
                        <th class="table-column-0">
                            OT
                        </th>
                        <th class="table-column-1">
                            Número
                        </th>
                        <th class="table-column-2">
                            Fecha de Solicitud
                        </th>
                        <th class="table-column-3">
                            Fecha de Entrega
                        </th>
                        <th class="table-column-4">
                            Estado
                        </th>
                        <th class="table-column-5 hidden">
                            Proyectista
                        </th>
                        <th class="table-column-6 hidden">
                            Tipos
                        </th>
                        <th class="table-column-7 hidden">
                            Dirección
                        </th>
                        <th class="table-column-8 hidden">
                            Comuna
                        </th>
                        <th class="table-column-9 hidden">
                            Clase
                        </th>
                        <th class="table-column-10 hidden">
                            Área
                        </th>
                        <th class="table-column-11 hidden">
                            Plazo
                        </th>
                        <th class="table-column-12 hidden">
                            Ejecutivo
                        </th>
                        <th class="table-column-13 hidden">
                            Especialista
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td class="table-column-0">
                                {{ project.ot }}
                            </td>
                            <td class="table-column-1">
                                {{ project.otNumber }}{% if not project.modification is null %}-{{ project.modification }}{% endif %}
                            </td>

                            <td class="table-column-2">
                                {{ project.applicationDate | date('d/m/Y') }}
                            </td>
                            <td class="table-column-3">
                                {{ project.deliveryDate | date('d/m/Y') }}
                            </td>
                            <td class="table-column-4">
                                {% set statusColor = 'inverse' %}
                                {% if project.realStatus == 'activated' %}
                                    {% set statusColor = 'primary' %}
                                {% elseif project.realStatus == 'reviewed' %}
                                    {% set statusColor = 'warning' %}
                                {% elseif project.realStatus == 'approved' %}
                                    {% set statusColor = 'wordpress' %}
                                {% elseif project.realStatus == 'quoted' %}
                                    {% set statusColor = 'lilac' %}
                                {% elseif project.realStatus == 'paid' %}
                                    {% set statusColor = 'success' %}
                                {% elseif project.realStatus == 'frozen' %}
                                    {% set statusColor = 'bitbucket' %}
                                {% elseif project.realStatus == 'canceled' %}
                                    {% set statusColor = 'danger' %}
                                {% endif %}
                                <span class="label label-{{ statusColor }}">{{ project.status }}</span>
                            </td>
                            <td class="table-column-5 hidden">
                                {{ project.designer }}
                            </td>
                            <td class="table-column-6 hidden">
                                {% set kindText = '' %}
                                {% for kind in project.kind %}
                                    {% set kindText =  kindText ~ kind %}
                                    {% if not loop.last %}
                                        {% set kindText =  kindText ~ ' / ' %}
                                    {% endif %}
                                {% endfor %}
                                {{ kindText }}
                            </td>
                            <td class="table-column-7 hidden">
                                {{ project.address }}
                            </td>
                            <td class="table-column-8 hidden">
                                {{ project.comuna }}
                            </td>
                            <td class="table-column-9 hidden">
                                {{ project.class }}
                            </td>
                            <td class="table-column-10 hidden">
                                {{ project.area }}
                            </td>
                            <td class="table-column-11 hidden">
                                {{ project.term }}
                            </td>
                            <td class="table-column-12 hidden">
                                {{ project.executive }}
                            </td>
                            <td class="table-column-13 hidden">
                                {{ project.specialist }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.panel-body -->
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.select.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/jszip.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/pdfmake.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/vfs_fonts.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/buttons.print.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/full_numbers_no_ellipses.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/datatables.responsive.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/jquery-mockjax/jquery.mockjax.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/jquery.gritter/js/jquery.gritter.min.js') }}"></script>

    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if($('select.form-control').length)
            {
                $('select').chosen({placeholder_text_single:'Seleccione...', placeholder_text_multiple:'Seleccione...'});
            }

            $("#appbundle_filter_project_applicationDateEnd").datepicker({
                autoclose:true,
                language: 'es',
            });

            $("#appbundle_filter_project_applicationDateEnd").datepicker('setStartDate', $("#appbundle_filter_project_applicationDateBegin").val());

            $("#appbundle_filter_project_applicationDateBegin").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                $("#appbundle_filter_project_applicationDateEnd").val('');
                $("#appbundle_filter_project_applicationDateEnd").datepicker('setStartDate', ev.date);
            });

            $("#appbundle_filter_project_deliveryDateEnd").datepicker({
                autoclose:true,
                language: 'es',
            });

            $("#appbundle_filter_project_deliveryDateEnd").datepicker('setStartDate', $("#appbundle_filter_project_deliveryDateBegin").val());

            $("#appbundle_filter_project_deliveryDateBegin").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                $("#appbundle_filter_project_deliveryDateEnd").val('');
                $("#appbundle_filter_project_deliveryDateEnd").datepicker('setStartDate', ev.date);
            });

            {% if filterButton == 'filter' %}
            var length = parseInt($('#table-entities').attr('columns-length'), 10);
            var list = [];
            for (var i = 0; i < length; i++) {
                list.push(i);
            }

            var table = buildTable(list, [0,1,2,3]);

            $('.column-handler').click(function () {

                var column = $(this).attr('data-column');

                table.destroy();
                table = null;

                if($(this).hasClass('column-active'))
                {
                    $(this).removeClass('column-active');
                    $('.table-column-'+column).addClass('hidden');
                    $('#column-handler-icon-'+column).removeClass('fa-eye');
                    $('#column-handler-icon-'+column).addClass('fa-eye-slash');
                    $('#column-handler-icon-'+column).css('color','red');
                }
                else
                {
                    var activas = $('.column-active');
                    if(activas.length == 5)
                    {
                        activas.each(function () {
                            var desactivarColumna = $(this).attr('data-column');
                            $(this).removeClass('column-active');
                            $('.table-column-'+desactivarColumna).addClass('hidden');
                            $('#column-handler-icon-'+desactivarColumna).removeClass('fa-eye');
                            $('#column-handler-icon-'+desactivarColumna).addClass('fa-eye-slash');
                            $('#column-handler-icon-'+desactivarColumna).css('color','red');
                            return false;
                        });
                    }
                    $(this).addClass('column-active');
                    $('.table-column-'+column).removeClass('hidden');
                    $('#column-handler-icon-'+column).removeClass('fa-eye-slash');
                    $('#column-handler-icon-'+column).addClass('fa-eye');
                    $('#column-handler-icon-'+column).css('color','darkgreen');
                }

                var listSeleccion = [];
                $('.column-active').each(function () {
                    listSeleccion.push(parseInt($(this).attr('data-column'), 10));
                });

                table = buildTable(list, listSeleccion);
                return false;
            });

            function buildTable(list, listSeleccion) {
                return $('#table-entities').DataTable({
                    'oLanguage': {
                        'sUrl': "{{ asset('blankon/json/datatables-lang-es.json') }}",
                        'iDisplayLength': 2
                    },
                    'order': [[listSeleccion[0], 'asc']],
                    'autoWidth' : false,
                    'iDisplayLength': 25,
                    'lengthMenu': [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Todos"]],
                    'select': true,
                    'dom': 'Blfrtip',
                    buttons: [
                        {
                            extend: 'collection',
                            text: 'Exportar Todas las Columnas',
                            buttons: [
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: list
                                    },
                                    title: 'Resultados del Filtro'
                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: list
                                    },
                                    title: 'Resultados del Filtro'
                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: list
                                    }
                                }
                            ]
                        },

                        {
                            extend: 'collection',
                            text: 'Exportar Columnas Visibles',
                            buttons: [
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: listSeleccion
                                    },
                                    title: 'Resultados del Filtro'
                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: listSeleccion
                                    },
                                    title: 'Resultados del Filtro'
                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: listSeleccion
                                    },
                                    title: 'Resultados del Filtro'
                                }
                            ]
                        }
                    ],
                });
            }
            {% endif %}
        });


    </script>
{% endblock %}
