{% extends 'base.html.twig' %}

{% block menu_3 %}active{% endblock %}
{% block menu_3_0 %}<span class="selected"></span>{% endblock %}
{% block menu_3_2 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-dollar"></i>Estados de Pago</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Estados de Pago</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="panel panel-theme">
        <div class="panel-heading">
            <div>
                <h3 class="panel-title"><i class="fa fa-filter"></i> Filtrar de <strong>{{ projectsQuoted | length }}</strong> Proyectos <strong>Despachados</strong></h3>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="display: block;">
            {{ form_start(form, {'attr':{'class':'form-bordered', 'action':path('filter_payment_excel', {'_format':'xlsx', '_filename':'Estado_de_Pago_por_Baremos'})}}) }}
            <div class="row">
                <div class="col-md-6">
                    {% set element = form.term %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-6">
                    {% set element = form.designer %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
            </div>

            {% set element = form.kind %}
            <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                <label class="control-label">{{ form_label(element) }}:</label>
                {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                {% if not element.vars.valid %}
                    {% for error in element.vars.errors %}
                        <p class="help-block">
                            <span class="text-error">{{ error.message }}</span>
                        </p>
                    {% endfor %}
                {% endif %}
            </div><!-- /.form-group -->

            <div class="row border-top-form margin-h-0">
                <div class="col-md-6 padding-l-0">
                    {% set element = form.applicationDateBegin %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-6 padding-r-0">
                    {% set element = form.applicationDateEnd %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div class="row border-top-form margin-h-0">
                <div class="col-md-6 padding-l-0">
                    {% set element = form.deliveryDateBegin %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
                <div class="col-md-6 padding-r-0">
                    {% set element = form.deliveryDateEnd %}
                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                        <label class="control-label">{{ form_label(element) }}:</label>
                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                        {% if not element.vars.valid %}
                            {% for error in element.vars.errors %}
                                <p class="help-block">
                                    <span class="text-error">{{ error.message }}</span>
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div class="form-footer">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Por Trabajadores</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><button class="btn" name="submit-button" type="submit" value="filter-worker"><i class="fa fa-filter"></i> Filtrados</button></li>
                            <li><button class="btn" name="submit-button" type="submit" value="all-worker"><i class="fa fa-list"></i> Todos</button></li>
                        </ul>
                    </div>
                </div>

                <div class="pull-right margin-r-5">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success"><i class="fa fa-download"></i> Por Baremos</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><button class="btn" name="submit-button" type="submit" value="filter-activities"><i class="fa fa-filter"></i> Filtrados</button></li>
                            <li><button class="btn" name="submit-button" type="submit" value="all-activities"><i class="fa fa-list"></i> Todos</button></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.form-footer -->
            {{ form_end(form) }}
        </div><!-- /.panel-body -->
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if($('select.form-control').length)
            {
                $('select').chosen({placeholder_text_single:'Seleccione...', placeholder_text_multiple:'Seleccione...'});
            }

            $("#appbundle_payment_filter_applicationDateEnd").datepicker({
                autoclose:true,
                language: 'es',
            });

            $("#appbundle_payment_filter_applicationDateEnd").datepicker('setStartDate', $("#appbundle_payment_filter_applicationDateBegin").val());

            $("#appbundle_payment_filter_applicationDateBegin").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                $("#appbundle_payment_filter_applicationDateEnd").val('');
                $("#appbundle_payment_filter_applicationDateEnd").datepicker('setStartDate', ev.date);
            });

            $("#appbundle_payment_filter_deliveryDateEnd").datepicker({
                autoclose:true,
                language: 'es',
            });

            $("#appbundle_payment_filter_deliveryDateEnd").datepicker('setStartDate', $("#appbundle_payment_filter_deliveryDateBegin").val());

            $("#appbundle_payment_filter_deliveryDateBegin").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                $("#appbundle_payment_filter_deliveryDateEnd").val('');
                $("#appbundle_payment_filter_deliveryDateEnd").datepicker('setStartDate', ev.date);
            });
        });


    </script>
{% endblock %}
