{% set row = 1 %}
{% set valueGeneral = 0 %}
{% set penaltyGeneral = 0 %}
{% xlsdocument %}
    {% xlssheet 'Trabajadores' %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                RUT
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Trabajador
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Projecto
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Código Baremo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Baremo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Complejidad
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Valor
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Descuento
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Valor Descuento
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Total
            {% endxlscell %}
        {% endxlsrow %}
        {% for key, data in workers %}
            {% set penaltyTotal = 0 %}
            {% set priceTotal = 0 %}
            {% for activity in data.activities %}
                {% set project = activity.activity.projectStage.project %}
                {% xlsrow %}
                    {% set row = row + 1 %}
                    {% xlscell %}{{ data.worker.rut }}{% endxlscell %}
                    {% xlscell %}{{ data.worker }}{% endxlscell %}
                    {% xlscell %}{{ project }}{% endxlscell %}
                    {% xlscell %}{{ activity.activity.activity.code ~ activity.complexity.code }}{% endxlscell %}
                    {% xlscell %}{{ activity.activity.activity.name }}{% endxlscell %}
                    {% xlscell %}{{ activity.complexity.name }}{% endxlscell %}
                    {% xlscell %}{{ activity.price * activity.count }}{% endxlscell %}
                    {% xlscell %}{{ project.paymentStatus.penalty }}{% endxlscell %}
                    {% set penaltyTotal = penaltyTotal + ((activity.price * project.paymentStatus.penalty) | round()) %}
                    {% xlscell %}{{ (activity.price * activity.count * project.paymentStatus.penalty) | round() }}{% endxlscell %}
                    {% set priceTotal = priceTotal + ((activity.price * activity.count - (activity.price * activity.count * project.paymentStatus.penalty)) | round()) %}
                    {% xlscell %}{{ (activity.price * activity.count - (activity.price * activity.count * project.paymentStatus.penalty)) | round() }}{% endxlscell %}
                {% endxlsrow %}
            {% endfor %}
            {% xlsrow %}
                {% set row = row + 1 %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {{ data.worker.rut }}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {{ data.worker }}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' }, alignment:{horizontal:'right'} }, merge:'F'~row } %}
                    Totales
                {% endxlscell %}
                {% xlscell %}
                {% endxlscell %}
                {% xlscell %}
                {% endxlscell %}
                {% xlscell %}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {{ data.total }}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } , alignment:{horizontal:'right'} } } %}
                    -
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {% set penaltyGeneral = penaltyGeneral + penaltyTotal %}
                    {{ penaltyTotal }}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {% set valueGeneral = valueGeneral + priceTotal %}
                    {{ priceTotal }}
                {% endxlscell %}
            {% endxlsrow %}
        {% endfor %}

        {% xlsrow %}
            {% set row = row + 1 %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } }, merge:'F'~row  } %}
                Total General
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } }} %}
                {{ total }}
            {% endxlscell %}
            {% xlscell{ style: { font: { size: '14', bold: 'true' } , alignment:{horizontal:'right'} } } %}
                -
            {% endxlscell %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } }} %}
                {{ penaltyGeneral }}
            {% endxlscell %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } }} %}
                {{ valueGeneral}}
            {% endxlscell %}
        {% endxlsrow %}

    {% endxlssheet %}
{% endxlsdocument %}