{% set totalGeneral = 0 %}
{% set row = 1 %}
{% xlsdocument %}
    {% xlssheet 'Resumen' {tabColor: '1EA317'} %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                OT
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Número
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Plazo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Fecha Solicitud
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Fecha Entrega
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Fecha Despacho
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Total Bruto
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Factor
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Incentivo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Bonificación por plazo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Penalización
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Total
            {% endxlscell %}
        {% endxlsrow %}
        {% for project in projects %}
            {% set totals = projectsTotals[project.id] %}
            {% xlsrow %}
                {% set row = row + 1 %}
                {% xlscell %}
                    {{ project.ot }}
                {% endxlscell %}
                {% xlscell %}
                    {{ project.otNumber }}{% if not project.modification is null %}-{{ project.modification }}{% endif %}
                {% endxlscell %}
                {% xlscell %}
                    {{ project.term }}
                {% endxlscell %}
                {% xlscell %}
                    {{ project.applicationDate | date('d/m/Y') }}
                {% endxlscell %}
                {% xlscell %}
                    {{ project.deliveryDate | date('d/m/Y') }}
                {% endxlscell %}
                {% xlscell %}
                    {% set quotedLog = project.quotedLog  %}
                    {% if not quotedLog is null %}
                        {{ quotedLog.beginDate | date('d/m/Y') }}
                    {% else %}
                        =
                    {% endif %}
                {% endxlscell %}
                {% xlscell %}
                    {{ totals.total }}
                {% endxlscell %}
                {% xlscell %}
                    {{ totals.totalFactor }}
                {% endxlscell %}
                {% xlscell %}
                    {{ totals.totalBonus }}
                {% endxlscell %}
                {% xlscell %}
                    {{ totals.totalTerm }}
                {% endxlscell %}
                {% xlscell %}
                    {{ totals.totalPenalty }}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {{ totals.totalFinal }}
                    {% set totalGeneral = totalGeneral + totals.totalFinal %}
                {% endxlscell %}
            {% endxlsrow %}
        {% endfor %}
        {% xlsrow %}
            {% set row = row + 1 %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } }, merge:'K'~row } %}
                TOTAL GENERAL
            {% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell %}{% endxlscell %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } } } %}
                {{ totalGeneral }}
            {% endxlscell %}
        {% endxlsrow %}
    {% endxlssheet %}

    {% for project in projects %}
        {% set totals = projectsTotals[project.id] %}
        {% xlssheet project.name %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Código
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Baremo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Complejidad
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Valor
            {% endxlscell %}
        {% endxlsrow %}
        {% for activity in project.paymentStatus.activities %}
            {% xlsrow %}
                {% xlscell %}{{ activity.activity.activity.code ~ activity.complexity.code }}{% endxlscell %}
                {% xlscell %}{{ activity.activity.activity.name }}{% endxlscell %}
                {% xlscell %}{{ activity.complexity.name }}{% endxlscell %}
                {% xlscell %}{{ activity.price * activity.count }}{% endxlscell %}
            {% endxlsrow %}
        {% endfor %}

        {% xlsrow %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Total Bruto
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                {{ totals.total }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell %}
                Factor: {{ project.paymentStatus.factor }}%
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
                {{ totals.totalFactor }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell %}
                Incentivo: {{ project.paymentStatus.bonus }}%
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
                {{ totals.totalBonus }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell %}
                {% if project.status == 'paid' %}
                    Bonificación por plazo {{ project.paymentStatus.termName }}: {{ project.paymentStatus.termFactor }}%
                {% else %}
                    Bonificación por plazo {{ project.term.name }}: {{ project.term.increase }}%
                {% endif %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
                {{ totals.totalTerm }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell %}
                Penalización: {{ project.paymentStatus.penalty }}%
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
                {{ totals.totalPenalty }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } } } %}
                Total
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } } } %}
                {{ totals.totalFinal }}
            {% endxlscell %}
        {% endxlsrow %}

    {% endxlssheet %}
    {% endfor %}
{% endxlsdocument %}