.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000; }

ol.vertical {
    margin: 0 0 9px 0;
    min-height: 10px;
}

ol {
    list-style-type: none;
    padding: 0;
    position: relative;
}

ol .icon-move {
    cursor: pointer;
}


/* line 1, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
body.dragging, body.dragging * {
    cursor: move !important; }

/* line 4, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000; }

/* line 20, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }

/* line 25, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: #e9573f;
    border-right: none; }

/* line 48, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nested_with_switch li, ol.simple_with_animation li, ol.serialization li, ol.default li {
    cursor: pointer; }

/* line 54, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.switch-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px; }

/* line 60, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.navbar-sort-container {
    height: 200px; }

/* line 64, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nav li, ol.nav li a {
    cursor: pointer; }
/* line 66, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nav .divider-vertical {
    cursor: default; }
/* line 69, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nav li.dragged {
    background-color: #2c2c2c; }
/* line 71, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nav li.placeholder {
    position: relative; }
/* line 73, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nav li.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #e9573f;
    top: -6px;
    margin-left: -5px;
    border-bottom: none; }
/* line 84, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nav ol.dropdown-menu li.placeholder:before {
    border: 5px solid transparent;
    border-left-color: #e9573f;
    margin-top: -5px;
    top: 0;
    left: 10px;
    border-right: none; }

/* line 94, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.sorted_table tr {
    cursor: pointer; }
/* line 96, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.sorted_table tr.placeholder {
    display: block;
    background: #e9573f;
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
/* line 103, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #e9573f;
    margin-top: -5px;
    left: -5px;
    border-right: none; }

/* line 114, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.sorted_head th {
    cursor: pointer; }
/* line 116, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.sorted_head th.placeholder {
    display: block;
    background: #e9573f;
    position: relative;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0; }
/* line 124, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.sorted_head th.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #e9573f;
    top: -6px;
    margin-left: -5px;
    border-bottom: none; }
