{% extends "base.html.twig" %}

{% block menu_4 %}active{% endblock %}
{% block menu_4_0 %}<span class="selected"></span>{% endblock %}
{% block menu_4_2 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-user"></i>Editar Trabajador</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Editar Trabajador</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos del Trabajador</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">

                    {{ form_start(form, {'attr':{'class':'form-bordered'}}) }}
                    <div class="form-body">
                        <div class="panel panel-tab panel-tab-double rounded shadow">
                            <!-- Start tabs heading -->
                            <div class="panel-heading no-padding">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab2-1" data-toggle="tab">
                                            <i class="fa fa-user"></i>
                                            <div>
                                                <span class="text-strong">Datos Personales</span>
                                                <span>Escriba los Datos Personales</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab2-2" data-toggle="tab">
                                            <i class="fa fa-cog"></i>
                                            <div>
                                                <span class="text-strong">Datos Laborales</span>
                                                <span>Escriba los Datos Laborales</span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div><!-- /.panel-heading -->
                            <!--/ End tabs heading -->

                            <!-- Start tabs content -->
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab2-1">
                                        {% set element = form.rut %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">RUT <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        {% set element = form.name %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">Nombre <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        {% set element = form.lastNames %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">Apellidos <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        {% set element = form.phone %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">Teléfono <span class="asterisk"></span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="tab-pane fade" id="tab2-2">
                                        {% set element = form.charge %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">Cargo <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        {% set element = form.email %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">Correo <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                            <!--/ End tabs content -->
                        </div>

                    </div><!-- /.form-body -->

                    <div class="form-footer">
                        <div class="pull-right">
                            <a class="btn btn-danger" href="{{ path('user_index') }}">Cancelar</a>
                            <button class="btn btn-success" name="submit-button" type="submit" value="edit">Editar</button>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->

                    {{ form_end(form) }}

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
        <div class="col-md-3"></div>
    </div>

    <div class="modal modal-success" id="create-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Editado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Trabajador editado satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="create-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> Error</h5>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">Error!!!. Verifique los campos en rojo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if($('select.form-control').length)
            {
                $('select').chosen({placeholder_text_single:'Seleccione...', placeholder_text_multiple:'Seleccione...'});
            }

            {% for message in app.flashes('edited-ok') %}
            $('#create-ok-modal').modal({});
            {% endfor %}

            {% if not form.vars.valid %}
            $('#create-error-modal').modal({});
            {% endif %}
        });
    </script>
{% endblock %}