{% extends 'base.html.twig' %}

{% block menu_5 %}active{% endblock %}
{% block menu_5_0 %}<span class="selected"></span>{% endblock %}
{% block menu_5_9 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/editor.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/datatables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/select.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/buttons.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-list"></i>Listado de Clase de Proyectoes</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Listado de Clase de Proyectoes</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <a href="{{ path('projectClass_new') }}" class="btn btn-success margin-v-20"><i class="fa fa-plus-circle"></i> Crear Clase de Proyecto</a>

    <div>
        <table class="table table-striped table-danger">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th class="text-right"><i class="fa fa-cog"></i> Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for projectClass in projectClasss %}
                    <tr>
                        <td>{{ projectClass.name }}</td>
                        <td>
                            {% if projectClass.description is not null %}
                                {{ projectClass.description | truncate(100, true, '...')}}
                            {% else %}
                                <span class="label label-warning">SIN DESCRIPCIÓN</span>
                            {% endif %}
                        </td>

                        <td class="col-md-2">
                            <div>
                                <div class="pull-right">
                                    {{ form_start(deleteForms[projectClass.id]) }}
                                        <button type="submit" class="btn btn-xs btn-danger btn-delete">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    {{ form_end(deleteForms[projectClass.id]) }}
                                </div>
                                <div class="pull-right margin-h-5">
                                    <a class="btn btn-success btn-xs" href="{{ path('projectClass_edit', { 'id': projectClass.id }) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-primary btn-xs"href="{{ path('projectClass_show', { 'id': projectClass.id }) }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal modal-primary" id="delete-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea eliminar la Clase de Proyecto.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-delete">Eliminar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="deleted-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Eliminado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Clase de Proyecto eliminada satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="deleted-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i> Error</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">La Clase de Proyecto no puede ser eliminada.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.select.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/jszip.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/pdfmake.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/vfs_fonts.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/buttons.print.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/datatables.responsive.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                'oLanguage': {
                    'sUrl': "{{ asset('blankon/json/datatables-lang-es.json') }}",
                    'iDisplayLength': 2,
                },
                'order': [[0, 'asc']],
                'autoWidth' : true,
                'iDisplayLength': 10,
                'lengthMenu': [[5, 10, 20, 30, 50, 100, -1], [5, 10, 20, 30, 50, 100, "Todos"]],
                'columnDefs': [
                    {
                        'targets': 2,
                        'sortable': false
                    },

                ],
            });

            var selectedForm;
            $('.btn-delete').click(function () {
                selectedForm = $(this).parent('form');
                $('#delete-confirm-modal').modal({});
               return false;
            });

            $('#confirm-delete').click(function () {
               selectedForm.submit();
            });

            {% for message in app.flashes('deleted-ok') %}
                $('#deleted-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('deleted-error') %}
                $('#deleted-error-modal').modal({});
            {% endfor %}
        });
    </script>
{% endblock %}
