{% extends 'base.html.twig' %}

{% block menu_5 %}active{% endblock %}
{% block menu_5_0 %}<span class="selected"></span>{% endblock %}
{% block menu_5_7 %}active{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Editar Area</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Editar Area</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos de la Area</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">

                    {{ form_start(form, {'attr':{'class':'form-bordered'}}) }}
                    <div class="form-body padding-15">

                        {% set element = form.name %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = form.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }}:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                    </div><!-- /.form-body -->

                    <div class="form-footer">
                        <div class="pull-right">
                            <a class="btn btn-danger" href="{{ path('area_index') }}">Cancelar</a>
                            <button class="btn btn-success" name="submit-button" type="submit" value="create">Editar</button>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->
                    {{ form_end(form) }}

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
        <div class="col-md-3"></div>
    </div>

    <div class="modal modal-success" id="edit-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Area editada satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="edit-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> Error</h5>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">Error!!!. Verifique los campos en rojo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% for message in app.flashes('edited-ok') %}
            $('#edit-ok-modal').modal({});
            {% endfor %}

            {% if not form.vars.valid %}
            $('#edit-error-modal').modal({});
            {% endif %}
        });
    </script>
{% endblock %}
