{% extends "layout.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('blankon/admin/css/pages/sign.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- START @SIGN WRAPPER -->
    <div id="sign-wrapper">

        <!-- Brand -->
        <div class="brand">
            <img src="{{ asset('images/logo.png') }}" alt="brand logo"/>
        </div>
        <!--/ Brand -->

        <!-- Login form -->
        {% if error %}
            <div class="callout callout-danger margin-v-5">
                <h4 class="margin-t-15">Correo o Contraseña invalidos</h4>
            </div>
        {% endif %}
        <form class="sign-in form-horizontal shadow rounded no-overflow" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="sign-header">
                <div class="form-group">
                    <div class="sign-text">
                        <span>gestión de proyectos</span>
                    </div>
                </div><!-- /.form-group -->
            </div><!-- /.sign-header -->
            <div class="sign-body">
                <div class="form-group">
                    <div class="input-group input-group-lg rounded no-overflow">
                        <input placeholder="correo" class="form-control input-sm" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <div class="input-group input-group-lg rounded no-overflow">
                        <input placeholder="contraseña" class="form-control input-sm" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div><!-- /.form-group -->
            </div><!-- /.sign-body -->
            <div class="sign-footer">

                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-lg btn-block no-margin rounded" id="login-btn">Entrar</button>
                </div><!-- /.form-group -->
            </div><!-- /.sign-footer -->
        </form><!-- /.form-horizontal -->
        <!--/ Login form -->

        <!-- Content text -->
        <p class="text-muted text-center sign-link">Si olvidó su contraseña o no tiene cuenta. Contacte con el Administrador.</a></p>
        <!--/ Content text -->

    </div><!-- /#sign-wrapper -->
    <!--/ END SIGN WRAPPER -->
{% endblock %}

