{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% set status = project.realStatus %}
{% set statusLabel = '' %}
{% set active_saved = '' %}
{% set active_activated = '' %}
{% set active_reviewed = '' %}
{% set active_approved = '' %}
{% set active_quoted = '' %}
{% set active_paid = '' %}
{% set active_frozen = '' %}
{% set active_canceled = '' %}

{% if status == 'saved' %}
    {% set active_saved = 'active' %}
    {% set statusLabel = 'Guardados' %}
{% elseif status == 'activated' %}
    {% set active_activated = 'active' %}
    {% set statusLabel = 'En Ejecución' %}
{% elseif status == 'reviewed' %}
    {% set active_reviewed = 'active' %}
    {% set statusLabel = 'En Revisión' %}
{% elseif status == 'approved' %}
    {% set active_approved = 'active' %}
    {% set statusLabel = 'Aprobados' %}
{% elseif status == 'quoted' %}
    {% set active_quoted = 'active' %}
    {% set statusLabel = 'Despachados' %}
{% elseif status == 'paid' %}
    {% set active_paid = 'active' %}
    {% set statusLabel = 'Pagados' %}
{% elseif status == 'frozen' %}
    {% set active_frozen = 'active' %}
    {% set statusLabel = 'Paralizados' %}
{% elseif status == 'canceled' %}
    {% set active_canceled = 'active' %}
    {% set statusLabel = 'Devueltos' %}
{% endif %}

{% block menu_2_3 %}{{ active_saved }}{% endblock %}
{% block menu_2_4 %}{{ active_activated }}{% endblock %}
{% block menu_2_10 %}{{ active_reviewed }}{% endblock %}
{% block menu_2_5 %}{{ active_approved }}{% endblock %}
{% block menu_2_6 %}{{ active_quoted }}{% endblock %}
{% block menu_2_7 %}{{ active_paid }}{% endblock %}
{% block menu_2_8 %}{{ active_frozen }}{% endblock %}
{% block menu_2_9 %}{{ active_canceled }}{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Editar Proyecto</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('project_index', {'status':status}) }}">Listado {{ statusLabel }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Editar Proyecto</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row margin-h-5">
        <div class="col-md-12">

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos de la Proyecto</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">

                    {{ form_start(form, {'attr':{'class':'form-bordered'}}) }}
                    <div class="panel panel-tab panel-tab-double rounded shadow">
                        <!-- Start tabs heading -->
                        <div class="panel-heading no-padding">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab2-1" data-toggle="tab">
                                        <i class="fa fa-database"></i>
                                        <div>
                                            <span class="text-strong">Datos Generales</span>
                                            <span>Defina el Proyecto</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-2" data-toggle="tab">
                                        <i class="fa fa-clock-o"></i>
                                        <div>
                                            <span class="text-strong">Plazos</span>
                                            <span>Defina los Plazos</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-3" data-toggle="tab">
                                        <i class="fa fa-users"></i>
                                        <div>
                                            <span class="text-strong">Personal</span>
                                            <span>Defina el Personal</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-5" data-toggle="tab">
                                        <i class="fa fa-comment"></i>
                                        <div>
                                            <span class="text-strong">Observaciones</span>
                                            <span>Defina las Observaciones</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.panel-heading -->
                        <!--/ End tabs heading -->

                        <!-- Start tabs content -->
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab2-1">
                                    <div class="form-body padding-15">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {% set element = form.ot %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-3">
                                                {% set element = form.otNumber %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-3">
                                                {% set element = form.modification %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }}:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                        <div class="row border-top-form margin-h-0">
                                            <div class="col-md-6 padding-l-0">
                                                {% set element = form.address %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-6 padding-r-0">
                                                {% set element = form.comuna %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                        <div class="row border-top-form margin-h-0">
                                            <div class="col-md-6 padding-l-0">
                                                {% set element = form.class %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-6 padding-r-0">
                                                {% set element = form.area %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                        {% set element = form.kind %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->
                                    </div><!-- /.form-body -->
                                </div>

                                <div class="tab-pane fade" id="tab2-2">
                                    <div class="form-body padding-15">
                                        {% set element = form.term %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        <div class="row">
                                            <div class="col-md-6">
                                                {% set element = form.applicationDate %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-6">
                                                {% set element = form.deliveryDate %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-3">
                                    <div class="form-body padding-15">

                                        {% set element = form.designer %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        {% set element = form.executive %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }}:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        {% set element = form.specialist %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }}:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-5">
                                    <div class="form-body padding-15">
                                        {% set element = form.description %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }}:</label>
                                            {{ form_widget(element, {'attr' : {'rows' : 5,  'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.panel-body -->
                        <!--/ End tabs content -->
                    </div>

                    <div class="form-footer">
                        <div class="pull-right">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-list"></i> Ir al Listado <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('project_index', {'status':'saved'}) }}">Guardados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'activated'}) }}">En Ejecución</a></li>
                                    <li><a href="{{ path('project_index', {'status':'reviewed'}) }}">En Revisión</a></li>
                                    <li><a href="{{ path('project_index', {'status':'approved'}) }}">Aprobados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'quoted'}) }}">Despachados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'paid'}) }}">Pagados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'frozen'}) }}">Paralizados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'canceled'}) }}">Devueltos</a></li>
                                </ul>
                            </div>
                            <a href="{{ path('project_show', {'id':project.id}) }}" class="btn btn-primary margin-r-5"><i class="fa fa-eye"></i> Regresar a Detalles</a>

                            <button class="btn btn-success" name="submit-button" type="submit" value="create">Editar</button>

                        </div>

                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->
                    {{ form_end(form) }}

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
    </div>

    <div class="modal modal-success" id="edit-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Proyecto editado satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="edit-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> Error</h5>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">Error!!!. Verifique los campos en rojo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#appbundle_project_deliveryDate").datepicker({
                autoclose:true,
                language: 'es'
            });

            $("#appbundle_project_deliveryDate").datepicker('setStartDate', $("#appbundle_project_applicationDate").val());

            $("#appbundle_project_applicationDate").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                $("#appbundle_project_deliveryDate").val('');
                $("#appbundle_project_deliveryDate").datepicker('setStartDate', ev.date);
            });

            if($('select.form-control').length)
            {
                $('select').chosen({placeholder_text_single:'Seleccione...'});
            }

            {% for message in app.flashes('edited-ok') %}
            $('#edit-ok-modal').modal({});
            {% endfor %}

            {% if not form.vars.valid %}
            $('#edit-error-modal').modal({});
            {% endif %}
        });
    </script>
{% endblock %}
