{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}

{% set status = project.realStatus %}
{% set statusLabel = '' %}
{% set active_saved = '' %}
{% set active_activated = '' %}
{% set active_approved = '' %}
{% set active_quoted = '' %}
{% set active_paid = '' %}
{% set active_frozen = '' %}
{% set active_canceled = '' %}

{% if status == 'saved' %}
    {% set active_saved = 'active' %}
    {% set statusLabel = 'de Guardados' %}
{% elseif status == 'activated' %}
    {% set active_activated = 'active' %}
    {% set statusLabel = 'de en Ejecución' %}
{% elseif status == 'approved' %}
    {% set active_approved = 'active' %}
    {% set statusLabel = 'de Aprobados' %}
{% elseif status == 'quoted' %}
    {% set active_quoted = 'active' %}
    {% set statusLabel = 'de Despachados' %}
{% elseif status == 'paid' %}
    {% set active_paid = 'active' %}
    {% set statusLabel = 'de Pagados' %}
{% elseif status == 'frozen' %}
    {% set active_frozen = 'active' %}
    {% set statusLabel = 'de Paralizados' %}
{% elseif status == 'canceled' %}
    {% set active_canceled = 'active' %}
    {% set statusLabel = 'de Devueltos' %}
{% endif %}

{% block menu_2_3 %}{{ active_saved }}{% endblock %}
{% block menu_2_4 %}{{ active_activated }}{% endblock %}
{% block menu_2_5 %}{{ active_approved }}{% endblock %}
{% block menu_2_6 %}{{ active_quoted }}{% endblock %}
{% block menu_2_7 %}{{ active_paid }}{% endblock %}
{% block menu_2_8 %}{{ active_frozen }}{% endblock %}
{% block menu_2_9 %}{{ active_canceled }}{% endblock %}

{% block stylesheets %}
    <!-- Include SmartWizard CSS -->
    <link href="{{ asset('blankon/wizard/css/smart_wizard.css') }}" rel="stylesheet" type="text/css" />

    <!-- Optional SmartWizard theme -->
    <link href="{{ asset('blankon/wizard/css/smart_wizard_theme_arrows.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/editor.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/datatables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/select.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/datatables/css/buttons.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">

    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Ejecución del Proyecto</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('project_index', {'status':status}) }}">Listado {{ statusLabel }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('project_show', {'id':project.id}) }}">Proyecto</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Ejecución del Proyecto</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row margin-h-5">

        <div class="col-md-12">
            <div class="blog-item blog-quote rounded shadow">
                <div class="blog-details">
                    <a href="{{ path('project_show', {'id':project.id}) }}">
                        <h3>{{ project.name }}</h3>
                    </a>
                    <h4><i class="fa fa-calendar"></i> {% if project.applicationDate is null %}<span class="label label-warning">NO DEFINIDO INICIO</span>{% else %}{{ project.applicationDate | date('d/m/Y') }}{% endif %} - <i class="fa fa-calendar"></i>{% if project.deliveryDate is null %} <span class="label label-warning">NO DEFINIDO FIN</span>{% else %} {{ project.deliveryDate | date('d/m/Y') }}{% endif %}</h4>
                    <h4><i class="fa fa-edit"></i> {{ project.designer.fullName }}</h4>

                    <div class="text-center margin-v-10">

                        {% if project.realStatus == 'activated' %}
                            {% if project.currentStage <= project.stages | length %}
                                <a href="#" class="btn btn-success margin-r-5 btn-next-stage"><i class="fa fa-step-forward"></i> Próxima Etapa</a>
                            {% endif %}
                            <a href="#" class="btn btn-warning margin-r-5 btn-review"><i class="fa fa-search"></i> A Revisión</a>
                        {% else %}
                            {% if app.user.charge.isProjectManager and (project.realStatus == 'approved' or project.realStatus == 'quoted' or  project.realStatus == 'canceled') %}
                                {% if project.currentStage <= project.stages | length %}
                                    <a href="#" class="btn btn-success margin-r-5 btn-next-stage"><i class="fa fa-step-forward"></i> Próxima Etapa</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <a href="{{ path('project_show', {'id':project.id}) }}" class="btn btn-primary margin-r-5"><i class="fa fa-eye"></i> Regresar a Detalles</a>

                    </div>

                </div><!-- blog-details -->
            </div>
            <div>
                <!-- SmartWizard html -->
                <div id="smartwizard">
                    <ul>
                        {% for stage in project.stages %}
                            <li id="project-stage-{{ loop.index }}">
                                <a href="#step-{{ loop.index }}">Etapa {{ loop.index }}
                                    <br />
                                    <small>{{ stage.stage | truncate(15, '...', false) }}</small>
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="#step-0">Finalizado
                                <br />
                                <small>Ejecución Finalizada</small>
                            </a>
                        </li>
                    </ul>

                    <div>
                        {% for stage in project.stages %}
                            <div id="step-{{ loop.index }}" class="no-padding">
                                <div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div>
                                                <h3 class="panel-title">
                                                    {{ stage.stage }}
                                                </h3>
                                                <div>
                                                    <p class="margin-h-10"><strong>Programación:</strong> <i class="fa fa-calendar"></i> {% if stage.programationStartDate is null %}<span class="label label-warning">NO DEFINIDO INICIO</span>{% else %} {{ stage.programationStartDate | date('d/m/Y') }}{% endif %} - <i class="fa fa-calendar"></i>{% if stage.programationEndDate is null %} <span class="label label-warning">NO DEFINIDO FIN</span>{% else %} {{ stage.programationEndDate | date('d/m/Y') }}{% endif %}</p>
                                                </div>
                                                {% if project.currentStage > loop.index %}
                                                    <div>
                                                        <p class="margin-h-10"><strong>Ejecución:</strong> <i class="fa fa-calendar"></i> {% if stage.executionStartDate is null %}<span class="label label-warning">SIN EJECUTAR</span>{% else %} {{ stage.executionStartDate | date('d/m/Y') }}{% endif %} - <i class="fa fa-calendar"></i>{% if stage.executionEndDate is null %} <span class="label label-warning">SIN EJECUTAR</span>{% else %} {{ stage.executionEndDate | date('d/m/Y') }}{% endif %}</p>
                                                    </div>
                                                    <div>
                                                        <p class="margin-h-10"><strong>Observaciones:</strong> {% if stage.description is null %} <span class="label label-warning">SIN OBSERVACIONES</span>{% else %} {{ stage.description }}{% endif %}</p>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">

                                            {% if app.user.charge.isProjectManager %}
                                                {% if project.realStatus == 'activated' or project.realStatus == 'approved' or  project.realStatus == 'quoted'  or  project.realStatus == 'canceled'%}
                                                    <a href="{{ path('project_execution_activity_new', {'id' : project.id, 'showStage' : loop.index}) }}" class="btn btn-success margin-v-10"><i class="fa fa-plus-circle"></i> Agregar Baremo</a>
                                                {% endif %}
                                            {% else %}
                                                {% if project.realStatus == 'activated' %}
                                                    <a href="{{ path('project_execution_activity_new', {'id' : project.id, 'showStage' : loop.index}) }}" class="btn btn-success margin-v-10"><i class="fa fa-plus-circle"></i> Agregar Baremo</a>
                                                {% endif %}
                                            {% endif %}

                                            <div>
                                                <table class="table table-striped table-danger">
                                                    <thead>
                                                    <tr>
                                                        <th>Baremo</th>
                                                        <th>Cantidad</th>
                                                        <th>Ejecutor</th>
                                                        <th>Inicio</th>
                                                        <th>Fin</th>
                                                        <th class="text-center">¿Es Adicional?</th>
                                                        <th class="text-right"><i class="fa fa-cog"></i> Opciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set stageIndex = loop.index %}
                                                    {% for activity in stage.activities %}
                                                    <tr>
                                                        <td>{{ activity.activity }}</td>
                                                        <td>{{ activity.count }}</td>
                                                        <td>{{ activity.executor.fullName }}</td>
                                                        <td>{{ activity.startDate | date('d/m/Y') }}</td>
                                                        <td>{{ activity.endDate | date('d/m/Y') }}</td>
                                                        <td class="text-center">
                                                            {% if activity.isProgrammed %}
                                                                <span class="label label-primary">SI</span>
                                                            {% else %}
                                                                <span class="label label-success">NO</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="col-md-2">
                                                            <div>
                                                                {% if project.realStatus == 'activated' %}
                                                                    <div class="pull-right">
                                                                        <a url="{{ path('project_execution_activity_delete', {'id' : project.id, 'showStage':stageIndex, 'activity_id':activity.id}) }}" href="" class="btn btn-xs btn-danger btn-delete-activity">
                                                                            <i class="fa fa-remove"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="pull-right margin-h-5">
                                                                        <a class="btn btn-success btn-xs" href="{{ path('project_execution_activity_edit', {'id':project.id, 'showStage':stageIndex, 'activity_id':activity.id}) }}">
                                                                            <i class="fa fa-edit"></i>
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                    {% if app.user.charge.isProjectManager and (project.realStatus == 'approved' or project.realStatus == 'quoted' or project.realStatus == 'canceled') %}
                                                                        <div class="pull-right">
                                                                            <a url="{{ path('project_execution_activity_delete', {'id' : project.id, 'showStage':stageIndex, 'activity_id':activity.id}) }}" href="" class="btn btn-xs btn-danger btn-delete-activity">
                                                                                <i class="fa fa-remove"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="pull-right margin-h-5">
                                                                            <a class="btn btn-success btn-xs" href="{{ path('project_execution_activity_edit', {'id':project.id, 'showStage':stageIndex, 'activity_id':activity.id}) }}">
                                                                                <i class="fa fa-edit"></i>
                                                                            </a>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endif %}
                                                                <div class="pull-right">
                                                                    <a class="btn btn-primary btn-xs"href="{{ path('project_execution_activity_show', {'id':project.id, 'showStage':stageIndex, 'activity_id':activity.id}) }}">
                                                                        <i class="fa fa-eye"></i>
                                                                    </a>
                                                                </div>

                                                                <div class="clearfix"></div>
                                                            </div>

                                                        </td>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                        <div id="step-0" class="no-padding">
                            <div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>
                                            <h3 class="panel-title">
                                                Proceso de Ejecución Finalizado
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="chartjs-wrapper margin-h-20">
                                                <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                                            </div>
                                        </div>
                                    </div><!-- /.panel-heading -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-md-6 -->
    </div>

    <div class="modal modal-primary" id="next-stage-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea avanzar a la próxima etapa del Proyecto.</h4>

                    </div>
                    <div>
                        {{ form_start(form, {'attr':{'class':'form-bordered', 'action': path('project_next_stage', {'id' : project.id}) }}) }}
                        <div class="row">
                            <div class="col-md-6">
                                {% set element = form.executionStartDate %}
                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                    {% if not element.vars.valid %}
                                        {% for error in element.vars.errors %}
                                            <p class="help-block">
                                                <span class="text-error">{{ error.message }}</span>
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                {% set element = form.executionEndDate %}
                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                    {% if not element.vars.valid %}
                                        {% for error in element.vars.errors %}
                                            <p class="help-block">
                                                <span class="text-error">{{ error.message }}</span>
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div><!-- /.form-group -->
                            </div>
                        </div>

                        {% set element = form.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }}:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" url="{{ path('project_next_stage', {'id' : project.id}) }}" id="confirm-next-stage">Avanzar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-primary" id="review-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea enviar el Proyecto a Revisión.</h4>
                    </div>
                    <div>
                        {{ form_start(toReviewForm, {'attr':{'class':'form-bordered', 'action': path('project_to_review', {'id':project.id})  }}) }}
                        {% set element = toReviewForm.beginDate %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control status-change-date' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = toReviewForm.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(toReviewForm) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" url="{{ path('project_to_review', {'id' : project.id}) }}" id="confirm-review">A Revisión</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="activated-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Activado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto Activado satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="back-execution-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Regresado a Ejecución</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto regresado a Ejecución satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="create-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Baremo crada satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-primary" id="delete-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea eliminar el Baremo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" url="" id="confirm-delete-activity">Eliminar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="deleted-activity-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Eliminado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Baremo eliminada satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="deleted-activity-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i> Error</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">La actividad no puede ser eliminada.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('blankon/wizard/js/jquery.smartWizard.min.js') }}"></script>

    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.select.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/jszip.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/pdfmake.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/vfs_fonts.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/buttons.print.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/datatables/extentions/datatables.responsive.js') }}"></script>

    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>

    <script src="{{ asset('blankon/chart/Chart.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            // Step show event
            $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
                //alert("You are on step "+stepNumber+" now");
                if(stepPosition === 'first'){
                    $("#prev-btn").addClass('disabled');
                }else if(stepPosition === 'final'){
                    $("#next-btn").addClass('disabled');
                }else{
                    $("#prev-btn").removeClass('disabled');
                    $("#next-btn").removeClass('disabled');
                }
            });

            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: {{ project.currentStage - 1 }},
                theme: 'arrows',
                transitionEffect:'fade',
                showStepURLhash: false,

                toolbarSettings: {toolbarPosition: 'none',
                    showNextButton: false,
                    showPreviousButton: false
                    //toolbarExtraButtons: [btnFinish, btnCancel]
                }
            });

            $('#project-stage-{{ showStage }} a').click();

            $('.table').DataTable({
                'oLanguage': {
                    'sUrl': "{{ asset('blankon/json/datatables-lang-es.json') }}",
                    'iDisplayLength': 2,
                },
                'order': [[0, 'asc']],
                'autoWidth' : true,
                'iDisplayLength': 10,
                'lengthMenu': [[5, 10, 20, 30, 50, 100, -1], [5, 10, 20, 30, 50, 100, "Todos"]],
                'columnDefs': [
                    {
                        'targets': 6,
                        'sortable': false
                    },

                ],
            });

            $('.btn-next-stage').click(function () {
                $('#next-stage-confirm-modal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                return false;
            });

            $('#confirm-next-stage').click(function () {
                $('#next-stage-confirm-modal form').submit();
            });

            $('.btn-review').click(function () {
                $('#review-confirm-modal').modal({});
                return false;
            });

            $('#confirm-review').click(function () {
                $('#review-confirm-modal form').submit();
            });

            {% for message in app.flashes('reviewed-error') %}
                $('#review-confirm-modal').modal({});
            {% endfor %}

            $("#appbundle_project_stage_executionEndDate").datepicker({
                autoclose:true,
                language: 'es'
            });

            $("#appbundle_project_stage_executionEndDate").datepicker('setStartDate', $("#appbundle_project_stage_executionStartDate").val());

            $("#appbundle_project_stage_executionStartDate").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                $("#appbundle_project_stage_executionEndDate").val('');
                $("#appbundle_project_stage_executionEndDate").datepicker('setStartDate', ev.date);
            });

            $(".status-change-date").datepicker({
                autoclose:true,
                language: 'es'
            });

            {% if not project.currentLog is null %}
            $(".status-change-date").datepicker(
                'setStartDate', '{{ project.currentLog.beginDate | date('d/m/Y') }}'
            );
            {% endif %}

            $('.btn-delete-activity').click(function () {
                $('#confirm-delete-activity').attr('url', $(this).attr('url'));
                $('#delete-confirm-modal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                return false;
            });

            $('#confirm-delete-activity').click(function () {
                window.location.href = $(this).attr('url');
            });

            {% for message in app.flashes('activated-ok') %}
            $('#activated-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('back-execution-ok') %}
            $('#back-execution-ok-modal').modal({});
            {% endfor %}


            {% for message in app.flashes('created-ok') %}
            $('#create-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('deleted-activity-ok') %}
            $('#deleted-activity-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('deleted-activity-error') %}
            $('#deleted-activity-error-modal').modal({});
            {% endfor %}

            var labels = [];
            var programation = $.parseJSON("{{ chartData.programation }}");
            var execution = $.parseJSON("{{ chartData.execution }}");
            for(var i = 1; i <= execution.length; i++)
            {
                labels.push("Etapa " + i);
            }


            new Chart(document.getElementById("chartjs-1"),
                {
                    "type":"horizontalBar",
                    "data":{
                        "labels": labels,
                        "datasets":[{
                            "label":"Días Programación",
                            "data":programation,
                            "fill":true,
                            "backgroundColor":"#00B1E1",
                            "borderColor":"#00B1E1",
                            "borderWidth":1
                        },
                            {
                                "label":"Días Ejecución",
                                "data":execution,
                                "fill":true,
                                "backgroundColor":"#8CC152",
                                "borderColor":"#8CC152",
                                "borderWidth":1
                            }
                        ]},
                    "options":{
                        "scales":{
                            "xAxes":[
                                { "ticks":{
                                        "beginAtZero":true
                                    }}]
                        }}
                    });

        });
    </script>
{% endblock %}
