{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}
{% block menu_2_1 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/sorteable/sorteable.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Crear Proyecto</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Crear Proyecto</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row margin-h-5">
        <div class="col-md-12">

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos de la Proyecto</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">

                    {{ form_start(form, {'attr':{'class':'form-bordered'}}) }}
                    <div class="panel panel-tab panel-tab-double rounded shadow">
                        <!-- Start tabs heading -->
                        <div class="panel-heading no-padding">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab2-1" data-toggle="tab">
                                        <i class="fa fa-database"></i>
                                        <div>
                                            <span class="text-strong">Datos Generales</span>
                                            <span>Defina el Proyecto</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-2" data-toggle="tab">
                                        <i class="fa fa-clock-o"></i>
                                        <div>
                                            <span class="text-strong">Plazos</span>
                                            <span>Defina los Plazos</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-3" data-toggle="tab">
                                        <i class="fa fa-users"></i>
                                        <div>
                                            <span class="text-strong">Personal</span>
                                            <span>Defina el Personal</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-4" data-toggle="tab">
                                        <i class="fa fa-arrow-right"></i>
                                        <div>
                                            <span class="text-strong">Etapas</span>
                                            <span>Defina las Etapas</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-5" data-toggle="tab">
                                        <i class="fa fa-comment"></i>
                                        <div>
                                            <span class="text-strong">Observaciones</span>
                                            <span>Defina las Observaciones</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.panel-heading -->
                        <!--/ End tabs heading -->

                        <!-- Start tabs content -->
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab2-1">
                                    <div class="form-body padding-15">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {% set element = form.ot %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-3">
                                                {% set element = form.otNumber %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-3">
                                                {% set element = form.modification %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }}:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                        <div class="row border-top-form margin-h-0">
                                            <div class="col-md-6 padding-l-0">
                                                {% set element = form.address %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-6 padding-r-0">
                                                {% set element = form.comuna %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                        <div class="row border-top-form margin-h-0">
                                            <div class="col-md-6 padding-l-0">
                                                {% set element = form.class %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-6 padding-r-0">
                                                {% set element = form.area %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                        {% set element = form.kind %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->
                                    </div><!-- /.form-body -->
                                </div>

                                <div class="tab-pane fade" id="tab2-2">
                                    <div class="form-body padding-15">
                                        {% set element = form.term %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        <div class="row">
                                            <div class="col-md-6">
                                                {% set element = form.applicationDate %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-6">
                                                {% set element = form.deliveryDate %}
                                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                                    {% if not element.vars.valid %}
                                                        {% for error in element.vars.errors %}
                                                            <p class="help-block">
                                                                <span class="text-error">{{ error.message }}</span>
                                                            </p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-3">
                                    <div class="form-body padding-15">

                                        {% set element = form.designer %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        {% set element = form.executive %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }}:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                        {% set element = form.specialist %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }}:</label>
                                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-4">
                                    <input type="hidden" id="stages-url" value="{{ path('projectType_stages') }}">

                                    <div class="form-body padding-15">
                                        {% set element = form.useMethodology %}
                                        <div class="form-group">

                                            <div class="ckbox ckbox-success">
                                                {{ form_widget(element) }}
                                                <label class="padding-l-5" for="appbundle_project_useMethodology">{{ form_label(element) }}</label>
                                            </div>
                                        </div><!-- /.form-group -->

                                        {% set element = form.methodology %}
                                        <div id="methodology-container" class="form-group {% if not element.vars.valid %}has-error{% endif %} {% if not project.useMethodology %}hidden{% endif %}">
                                            <label class="control-label">{{ form_label(element) }}:</label>
                                            {{ form_widget(element, {'attr' : {'rows' : 5,  'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->
                                        <div class="text-center hidden" id="methodology-stages-loading">
                                            <img class="mr-15" src="{{ asset('blankon/global/img/loader/general/3.gif') }}" alt="...">
                                        </div>
                                        <div id="methodology-stages" class="margin-v-20">
                                            {% if project.useMethodology %}
                                            {% for stage in project.stages %}
                                                <div class="panel panel-theme">
                                                    <div class="panel-heading no-padding">
                                                        <h3 class="panel-title"> {{ stage.stage }}</h3>
                                                    </div><!-- /.panel-heading -->
                                                    <div class="panel-body border-bottom-form">
                                                        <input type="hidden" name="stages[]" value="{{ stage.stage.id }}">
                                                        <input type="hidden" checked name="stages-checked[{{ stage.stage.id }}]" type="checkbox">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div>
                                                                    <label class="control-label">Inicio de la Etapa <span class="asterisk">*</span>:</label>
                                                                    <input value="{% if not stage.programationStartDate is null %}{{ stage.programationStartDate | date('d/m/Y') }}{% endif %}" name="stages-start[{{ stage.stage.id }}]" stage="{{ stage.stage.id }}" id="methodology-stage-start-{{ stage.stage.id }}" type="text" class="form-control methodology-stage-start" data-date-format="dd/mm/yyyy" text-type="date-picker">
                                                                </div><!-- /.form-group -->
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div>
                                                                    <label class="control-label">Fin de la Etapa <span class="asterisk">*</span>:</label>
                                                                    <input value="{% if not stage.programationEndDate is null %}{{ stage.programationEndDate | date('d/m/Y') }}{% endif %}" name="stages-end[{{ stage.stage.id }}]" stage="{{ stage.stage.id }}" id="methodology-stage-end-{{ stage.stage.id }}" type="text" class="form-control methodology-stage-end" data-date-format="dd/mm/yyyy" text-type="date-picker">
                                                                </div><!-- /.form-group -->
                                                            </div>
                                                        </div>
                                                    </div><!-- /.panel-body -->
                                                </div>
                                            {% endfor %}
                                            {% else %}
                                                {% include 'projectType/stagesAll.html.twig' with {'stages':stages, 'project':project} %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-5">
                                    <div class="form-body padding-15">
                                        {% set element = form.description %}
                                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                            <label class="control-label">{{ form_label(element) }}:</label>
                                            {{ form_widget(element, {'attr' : {'rows' : 5,  'class' : 'form-control' }}) }}
                                            {% if not element.vars.valid %}
                                                {% for error in element.vars.errors %}
                                                    <p class="help-block">
                                                        <span class="text-error">{{ error.message }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.panel-body -->
                        <!--/ End tabs content -->
                    </div>

                    <div class="form-footer">
                        <div class="pull-right">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-list"></i> Ir al Listado <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('project_index', {'status':'saved'}) }}">Guardados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'activated'}) }}">En Ejecución</a></li>
                                    <li><a href="{{ path('project_index', {'status':'reviewed'}) }}">En Revisión</a></li>
                                    <li><a href="{{ path('project_index', {'status':'approved'}) }}">Aprobados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'quoted'}) }}">Despachados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'paid'}) }}">Pagados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'frozen'}) }}">Paralizados</a></li>
                                    <li><a href="{{ path('project_index', {'status':'canceled'}) }}">Devueltos</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-primary" name="submit-button" type="submit" value="createAndAdd">Crear y Nuevo</button>
                            <button class="btn btn-success" name="submit-button" type="submit" value="create">Crear</button>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->
                    {{ form_end(form) }}

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
    </div>

    <div class="modal modal-success" id="create-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Proyecto creado satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="create-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> Error</h5>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">Error!!!. Verifique los campos en rojo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>
    <script src="{{ asset('blankon/sorteable/sorteable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            if($('select.form-control').length)
            {
                $('select').chosen({placeholder_text_single:'Seleccione...', placeholder_text_multiple:'Seleccione...'});
            }

            $("#appbundle_project_methodology").chosen().change(function () {
                var url = $('#stages-url').val();
                var methodology = $("#appbundle_project_methodology").val();

                getStages(url, methodology);
            });

            $('#appbundle_project_useMethodology').change(function () {
               if($(this).is(':checked'))
               {
                   $('#appbundle_project_methodology').prop('disabled', false).trigger("chosen:updated");
                   $('#methodology-container').removeClass('hidden');
                   $('#methodology-stages').html('');
               }
               else
               {
                   $('#appbundle_project_methodology').prop('disabled', true);

                   $('#appbundle_project_methodology option').each(function () {
                       $(this).prop('selected', false);
                   });

                   $('#appbundle_project_methodology').trigger("chosen:updated");
                   $('#methodology-container').addClass('hidden');

                   var url = $('#stages-url').val();

                   getStages(url, 0);
               }
            });

            $('.stage-selected').change(function () {
                if($(this).is(':checked'))
                {
                    $('#date-stage-' + $(this).attr('stage-id')).removeClass('hidden');
                }
                else
                {
                    $('#date-stage-' + $(this).attr('stage-id')).addClass('hidden');
                }
            });

            $("#appbundle_project_deliveryDate").datepicker({
                autoclose:true,
                language: 'es',
            });

            $("#appbundle_project_deliveryDate").datepicker('setStartDate', $("#appbundle_project_applicationDate").val());

            $("#appbundle_project_applicationDate").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                $("#appbundle_project_deliveryDate").val('');
                $("#appbundle_project_deliveryDate").datepicker('setStartDate', ev.date);
            });

            $(".methodology-stage-end").datepicker({
                autoclose:true,
                language: 'es'
            });

            $(".methodology-stage-end").each(function () {
                var stage = $(this).attr('stage');
                $(this).datepicker('setStartDate', $('#methodology-stage-start-'+ stage).val());
            });

            $(".methodology-stage-start").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                var stage = $(this).attr('stage');

                $("#methodology-stage-end-" + stage).val('');
                $("#methodology-stage-end-" + stage).datepicker('setStartDate', ev.date);
            });

            $("ol.simple_with_drop").sortable({
                group: 'no-drop',
                handle: '.icon-move',
                onDragStart: function ($item, container, _super) {
                    // Duplicate items of the no drop area
                    if(!container.options.drop)
                        $item.clone().insertAfter($item);
                    _super($item, container);
                }
            });

            {% for message in app.flashes('created-ok') %}
                $('#create-ok-modal').modal({});
            {% endfor %}

            {% if not form.vars.valid %}
                $('#create-error-modal').modal({});
            {% endif %}
        });

        function getStages(url, id)
        {
            $('#methodology-stages-loading').removeClass('hidden');
            $('#methodology-stages').html('');
            $('#appbundle_project_useMethodology').prop('disabled', true);
            $.post(url, {id: id}, function(result){
                $('#methodology-stages-loading').addClass('hidden');
                $('#methodology-stages').html(result.html);
                $('#appbundle_project_useMethodology').prop('disabled', false);

                $(".methodology-stage-end").datepicker({
                    autoclose:true,
                    language: 'es'
                });

                $(".methodology-stage-start").datepicker({
                    autoclose:true,
                    language: 'es'
                }).on('changeDate', function(ev){
                    var stage = $(this).attr('stage');

                    $("#methodology-stage-end-" + stage).val('');
                    $("#methodology-stage-end-" + stage).datepicker('setStartDate', ev.date);
                });

                $('.stage-selected').change(function () {
                    if($(this).is(':checked'))
                    {
                        $('#date-stage-' + $(this).attr('stage-id')).removeClass('hidden');
                    }
                    else
                    {
                        $('#date-stage-' + $(this).attr('stage-id')).addClass('hidden');
                    }
                });

                $("ol.simple_with_drop").sortable({
                    group: 'no-drop',
                    handle: '.icon-move',
                    onDragStart: function ($item, container, _super) {
                        // Duplicate items of the no drop area
                        if(!container.options.drop)
                            $item.clone().insertAfter($item);
                        _super($item, container);
                    }
                });
            }, 'json');
        }
    </script>
{% endblock %}
