{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}

{% set status = project.realStatus %}
{% set statusLabel = '' %}
{% set active_saved = '' %}
{% set active_activated = '' %}
{% set active_approved = '' %}
{% set active_quoted = '' %}
{% set active_paid = '' %}
{% set active_frozen = '' %}
{% set active_canceled = '' %}

{% if status == 'saved' %}
    {% set active_saved = 'active' %}
    {% set statusLabel = 'de Guardados' %}
{% elseif status == 'activated' %}
    {% set active_activated = 'active' %}
    {% set statusLabel = 'de en Ejecución' %}
{% elseif status == 'approved' %}
    {% set active_approved = 'active' %}
    {% set statusLabel = 'de Aprobados' %}
{% elseif status == 'quoted' %}
    {% set active_quoted = 'active' %}
    {% set statusLabel = 'de Despachados' %}
{% elseif status == 'paid' %}
    {% set active_paid = 'active' %}
    {% set statusLabel = 'de Pagados' %}
{% elseif status == 'frozen' %}
    {% set active_frozen = 'active' %}
    {% set statusLabel = 'de Paralizados' %}
{% elseif status == 'canceled' %}
    {% set active_canceled = 'active' %}
    {% set statusLabel = 'de Devueltos' %}
{% endif %}

{% block menu_2_3 %}{{ active_saved }}{% endblock %}
{% block menu_2_4 %}{{ active_activated }}{% endblock %}
{% block menu_2_5 %}{{ active_approved }}{% endblock %}
{% block menu_2_6 %}{{ active_quoted }}{% endblock %}
{% block menu_2_7 %}{{ active_paid }}{% endblock %}
{% block menu_2_8 %}{{ active_frozen }}{% endblock %}
{% block menu_2_9 %}{{ active_canceled }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Estado de Pago del Proyecto</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('project_index', {'status':status}) }}">Listado {{ statusLabel }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('project_show', {'id':project.id}) }}">Proyecto</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Estado de Pago del Proyecto</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row margin-h-5">
        <div class="col-md-12">
            <div class="blog-item blog-quote rounded shadow">
                <div class="blog-details">
                    <a href="{{ path('project_show', {'id':project.id}) }}">
                        <h3>{{ project.name }}</h3>
                    </a>
                    <h4><i class="fa fa-calendar"></i> {% if project.applicationDate is null %}<span class="label label-warning">NO DEFINIDO INICIO</span>{% else %}{{ project.applicationDate | date('d/m/Y') }}{% endif %} - <i class="fa fa-calendar"></i>{% if project.deliveryDate is null %} <span class="label label-warning">NO DEFINIDO FIN</span>{% else %} {{ project.deliveryDate | date('d/m/Y') }}{% endif %}</h4>
                    <h4><i class="fa fa-edit"></i> {{ project.designer.fullName }}</h4>

                    {% if project.realStatus == 'approved' or  project.realStatus == 'quoted' or  project.realStatus == 'canceled' %}
                        {{ form_start(form, {'attr':{'class':'form-bordered'}}) }}
                        <div class="text-center margin-v-10">
                            <button type="submit" class="btn btn-warning margin-r-5 btn-review"><i class="fa fa-save"></i> Guardar </button>
                            {% if (project.realStatus == 'approved' or project.realStatus == 'canceled') and canQuote %}
                                <a href="#" class="btn btn-lilac margin-r-5 btn-quote"><i class="fa fa-money"></i> A Despachados</a>
                            {% endif %}
                            <a href="{{ path('project_quote_excel', {'id':project.id, '_format':'xlsx', '_filename':'Estado_de_Pago_por_Baremos_'~project.name}) }}" class="btn btn-success margin-r-5"><i class="fa fa-download"></i> Por Baremos</a>
                            <a href="{{ path('project_quote_excel_worker', {'id':project.id, '_format':'xlsx', '_filename':'Estado_de_Pago_por_Trabajadores_'~project.name}) }}" class="btn btn-bitbucket margin-r-5"><i class="fa fa-download"></i> Por Trabajadores</a>
                            <a href="{{ path('project_show', {'id':project.id}) }}" class="btn btn-primary margin-r-5"><i class="fa fa-eye"></i> Regresar a Detalles</a>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    {% set element = form.factor %}
                                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                        <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                        {% if not element.vars.valid %}
                                            {% for error in element.vars.errors %}
                                                <p class="help-block">
                                                    <span class="text-error">{{ error.message }}</span>
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="col-md-4">
                                    {% set element = form.bonus %}
                                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                        <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                        {% if not element.vars.valid %}
                                            {% for error in element.vars.errors %}
                                                <p class="help-block">
                                                    <span class="text-error">{{ error.message }}</span>
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="col-md-4">
                                    {% set element = form.penalty %}
                                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                        <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                        {% if not element.vars.valid %}
                                            {% for error in element.vars.errors %}
                                                <p class="help-block">
                                                    <span class="text-error">{{ error.message }}</span>
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="panel panel-theme">
                                <div class="panel-heading">
                                    <div>
                                        <h3 class="panel-title"><i class="fa fa-list"></i> Detalles por Baremos</h3>
                                    </div>

                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table id="table-entities-activities" class="table table-resposive">
                                        <thead>
                                        <tr>
                                            <th>
                                                Baremo
                                            </th>
                                            <th class="text-center">
                                                Código
                                            </th>
                                            <th class="text-center">
                                                Ejecutor
                                            </th>
                                            <th class="text-center col-md-2">
                                                Complejidad
                                            </th>
                                            <th class="text-center">
                                                Precio
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total = 0 %}
                                        {% for activityQuote in project.paymentStatus.activities %}
                                            {% set total = total + activityQuote.price %}
                                            <tr>
                                                <td class="vertical-middle">
                                                    {{ activityQuote.activity.activity }}
                                                </td>
                                                <td class="text-center vertical-middle">
                                                    {{ activityQuote.activity.activity.code }}
                                                </td>
                                                <td class="text-center vertical-middle">
                                                    {{ activityQuote.activity.executor }}
                                                </td>
                                                <td class="text-center col-md-2 vertical-middle">
                                                    <select name="complexity-activity[{{ activityQuote.activity.id }}]" class="form-control" activity-id="{{ activityQuote.activity.id }}">
                                                        <option value="0"></option>
                                                        {% for complexityValue in activityQuote.activity.activity.values %}
                                                            <option {% if not activityQuote.complexity is null and activityQuote.complexity.id == complexityValue.complexity.id %}selected{% endif %} class="activity-{{ activityQuote.activity.id }}" activity-id="{{ activityQuote.activity.id }}" price="{{ complexityValue.value }}" value="{{ complexityValue.complexity.id }}">
                                                                {{ complexityValue.complexity}}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td class="text-center vertical-middle">
                                                    <p class="no-margin no-padding">
                                                        <i class="fa fa-dollar margin-r-5"></i>
                                                        <span class="activity-value" id="value-{{ activityQuote.activity.id }}">{{ activityQuote.price }}</span>
                                                    </p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="text-right"><strong>TOTAL</strong></td>
                                            <td class="text-right"></td>
                                            <td class="text-right"></td>
                                            <td class="text-right"></td>
                                            <td class="text-center">
                                                <strong>
                                                    <i class="fa fa-dollar margin-r-5"></i>
                                                    <span id="value-total">{{ total }}</span>
                                                </strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% else %}
                        <div class="text-center margin-v-10">
                            <a href="{{ path('project_quote_excel', {'id':project.id, '_format':'xlsx', '_filename':'Estado_de_Pago_por_Baremos_'~project.name}) }}" class="btn btn-success margin-r-5"><i class="fa fa-download"></i> Por Baremos</a>
                            <a href="{{ path('project_quote_excel_worker', {'id':project.id, '_format':'xlsx', '_filename':'Estado_de_Pago_por_Trabajadores_'~project.name}) }}" class="btn btn-bitbucket margin-r-5"><i class="fa fa-download"></i> Por Trabajadores</a>
                            <a href="{{ path('project_show', {'id':project.id}) }}" class="btn btn-primary margin-r-5"><i class="fa fa-eye"></i> Regresar a Detalles</a>
                        </div>

                        <div>
                            <div class="panel panel-theme">
                                <div class="panel-heading">
                                    <div>
                                        <h3 class="panel-title"><i class="fa fa-list"></i> Detalles por Baremos</h3>
                                    </div>

                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table id="table-entities-activities" class="table table-resposive">
                                        <thead>
                                        <tr>
                                            <th>
                                                Baremo
                                            </th>
                                            <th class="text-center">
                                                Código
                                            </th>
                                            <th class="text-center">
                                                Ejecutor
                                            </th>
                                            <th class="text-center col-md-2">
                                                Complejidad
                                            </th>
                                            <th class="text-center">
                                                Precio
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total = 0 %}
                                        {% for activityQuote in project.paymentStatus.activities %}
                                            {% set total = total + activityQuote.price %}
                                            <tr>
                                                <td>
                                                    {{ activityQuote.activity.activity }}
                                                </td>
                                                <td class="text-center">
                                                    {{ activityQuote.activity.activity.code }}
                                                </td>
                                                <td class="text-center">
                                                    {{ activityQuote.activity.executor }}
                                                </td>
                                                <td class="text-center col-md-2">
                                                    {{ activityQuote.complexity }}
                                                </td>
                                                <td class="text-center">
                                                    <p>
                                                        <i class="fa fa-dollar margin-r-5"></i>
                                                        <span class="activity-value" id="value-{{ activityQuote.activity.id }}">{{ activityQuote.price }}</span>
                                                    </p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="text-right"><strong>TOTAL</strong></td>
                                            <td class="text-right"></td>
                                            <td class="text-right"></td>
                                            <td class="text-right"></td>
                                            <td class="text-center">
                                                <strong>
                                                    <i class="fa fa-dollar margin-r-5"></i>
                                                    <span id="value-total">{{ total }}</span>
                                                </strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    {% endif %}
                </div><!-- blog-details -->
            </div>
            <div>
                <div class="well well-lg">
                    {% if project.realStatus == 'paid' %}
                        <h3>Pagado con Número: <span class="label label-success">{{ project.paymentStatus.code }}</span></h3>
                    {% endif %}
                    <h4>Total Bruto: <i class="fa fa-dollar margin-r-5"></i> <span id="total-activity-resume">{{ total| round() }}</span></h4>

                    <div class="border-top-form"></div>
                    {% set valueFactor = total * project.paymentStatus.factor %}
                    <h5>Factor: {{ project.paymentStatus.factor }}% <i class="fa fa-arrow-right"></i> <span class="label label-success"><i class="fa fa-dollar"></i> <span class="margin-l-5" percent-value="{{ project.paymentStatus.factor }}" id="value-factor">{{ valueFactor | round() }}</span></span></h5>
                    {% set valueBonus = total * project.paymentStatus.bonus %}
                    <h5>Incentivo: {{ project.paymentStatus.bonus }}% <i class="fa fa-arrow-right"></i> <span class="label label-success"><i class="fa fa-dollar"></i> <span class="margin-l-5" percent-value="{{ project.paymentStatus.bonus }}" id="value-bonus">{{ valueBonus | round() }}</span></span></h5>
                    {% set valuePenalty = total * project.paymentStatus.penalty %}
                    {% if project.realStatus == 'paid' %}
                        {% set valueTerm = total * project.paymentStatus.termFactor %}
                        <h5>Bonificación por Plazo {{ project.paymentStatus.termName }}: {{ project.paymentStatus.termFactor }}% <i class="fa fa-arrow-right"></i> <span class="label label-success"><i class="fa fa-dollar"></i> <span class="margin-l-5" percent-value="{{ project.paymentStatus.termFactor }}" id="value-term">{{ valueTerm | round() }}</span></span></h5>
                    {% else %}
                        {% set valueTerm = total * project.term.increase %}
                        <h5>Bonificación por Plazo {{ project.term }}: {{ project.term.increase }}% <i class="fa fa-arrow-right"></i> <span class="label label-success"><i class="fa fa-dollar"></i> <span class="margin-l-5" percent-value="{{ project.term.increase }}" id="value-term">{{ valueTerm | round() }}</span></span></h5>
                    {% endif %}
                    <h5>Penalización: {{ project.paymentStatus.penalty }}% <i class="fa fa-arrow-right"></i> <span class="label label-danger"><i class="fa fa-dollar"></i> <span class="margin-l-5" percent-value="{{ project.paymentStatus.penalty }}" id="value-penalty">{{ valuePenalty | round() }}</span></span></h5>

                    <div class="border-top-form"></div>
                    <h3>Total: <i class="fa fa-dollar"></i> <span class="margin-l-5" id="value-final">{{ total + valueFactor + valueBonus + valueTerm - valuePenalty | round() }}</span></h3>
                </div>
            </div>
        </div><!-- /.col-md-6 -->
    </div>

    <div class="modal modal-primary" id="quote-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea enviar el Proyecto a Despachados.</h4>
                    </div>
                    <div>
                        {{ form_start(toQuotedForm, {'attr':{'class':'form-bordered', 'action': path('project_to_quoted', {'id':project.id})  }}) }}
                        {% set element = toQuotedForm.beginDate %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control status-change-date' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = toQuotedForm.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(toQuotedForm) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-lilac" data-dismiss="modal" url="{{ path('project_to_quoted', {'id' : project.id}) }}" id="confirm-quote">A Despachados</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="quote-saved-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Datos guardados satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="quote-saved-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> Error</h5>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">Error!!!. Verifique los campos en rojo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            if($('select.form-control').length)
            {
                $('select').chosen({placeholder_text_single:'Seleccione...', placeholder_text_multiple:'Seleccione...'}).change(function () {
                    var id = $(this).attr('activity-id');
                    var selected = $('.activity-'+id+':selected');

                    $('#value-'+id).html(selected.attr('price'));

                    var total = getTotal();
                    $('#value-total').html(total.toFixed(0));
                    $('#total-activity-resume').html(total.toFixed(0));

                    var valueFactorObj = $('#value-factor');
                    var percent = parseFloat(valueFactorObj.attr('percent-value'));
                    var valueFactor = total * percent;
                    valueFactorObj.html(valueFactor.toFixed(0));

                    var valueBonusObj = $('#value-bonus');
                    percent = parseFloat(valueBonusObj.attr('percent-value'));
                    var valueBonus = total * percent;
                    valueBonusObj.html(valueBonus.toFixed(0));

                    var valueTermObj = $('#value-term');
                    percent = parseFloat(valueTermObj.attr('percent-value'));
                    var valueTerm = total * percent;
                    valueTermObj.html(valueTerm.toFixed(0));

                    var valuePenaltyObj = $('#value-penalty');
                    percent = parseFloat(valuePenaltyObj.attr('percent-value'));
                    var valuePenalty = total * percent;
                    valuePenaltyObj.html(valuePenalty.toFixed(0));

                    var totalFinal = total + valueFactor + valueBonus + valueTerm - valuePenalty;
                    $('#value-final').html(totalFinal.toFixed(0));
                });
            }

            $('.btn-quote').click(function () {
                $('#quote-confirm-modal').modal({});
                return false;
            });

            $('#confirm-quote').click(function () {
                $('#quote-confirm-modal form').submit();
            });

            {% for message in app.flashes('quoted-error') %}
            $('#quote-confirm-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('quote-saved-error') %}
            $('#quote-saved-error-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('quote-saved-ok') %}
            $('#quote-saved-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('quoted-error') %}
            $('#quote-confirm-modal').modal({});
            {% endfor %}

            $(".status-change-date").datepicker({
                autoclose:true,
                language: 'es'
            });

            {% if not project.currentLog is null %}
            $(".status-change-date").datepicker(
                'setStartDate', '{{ project.currentLog.beginDate | date('d/m/Y') }}'
            );
            {% endif %}
        });

        function getTotal() {
            var total = 0;
            $('.activity-value').each(function () {
                total += parseFloat($(this).text());
            });

            return total;
        }
    </script>
{% endblock %}
