{% xlsdocument %}
    {% xlssheet project.name %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Código
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Baremo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Complejidad
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Valor
            {% endxlscell %}
        {% endxlsrow %}
        {% for activity in project.paymentStatus.activities %}
            {% xlsrow %}
                {% xlscell %}{{ activity.activity.activity.code ~ activity.complexity.code }}{% endxlscell %}
                {% xlscell %}{{ activity.activity.activity.name }}{% endxlscell %}
                {% xlscell %}{{ activity.complexity.name }}{% endxlscell %}
                {% xlscell %}{{ activity.price }}{% endxlscell %}
            {% endxlsrow %}
        {% endfor %}

        {% xlsrow %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Total Bruto
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                {{ totals.total }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell %}
                Factor: {{ project.paymentStatus.factor }}%
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
                {{ totals.totalFactor }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell %}
                Incentivo: {{ project.paymentStatus.bonus }}%
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
                {{ totals.totalBonus }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell %}
                {% if project.status == 'paid' %}
                    Bonificación por plazo {{ project.paymentStatus.termName }}: {{ project.paymentStatus.termFactor }}%
                {% else %}
                    Bonificación por plazo {{ project.term.name }}: {{ project.term.increase }}%
                {% endif %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
                {{ totals.totalTerm }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell %}
                Penalización: {{ project.paymentStatus.penalty }}%
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
                {{ totals.totalPenalty }}
            {% endxlscell %}
        {% endxlsrow %}

        {% xlsrow %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } } } %}
                Total
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } } } %}
                {{ totals.totalFinal }}
            {% endxlscell %}
        {% endxlsrow %}

    {% endxlssheet %}
{% endxlsdocument %}