{% set row = 1 %}
{% xlsdocument %}
    {% xlssheet project.name %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                RUT
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Trabajador
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Código Baremo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Baremo
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Complejidad
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Valor
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Descuento
            {% endxlscell %}
            {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                Total
            {% endxlscell %}
        {% endxlsrow %}
        {% for key, data in workers %}
            {% for activity in data.activities %}
                {% xlsrow %}
                    {% set row = row + 1 %}
                    {% xlscell %}{{ data.worker.rut }}{% endxlscell %}
                    {% xlscell %}{{ data.worker }}{% endxlscell %}
                    {% xlscell %}{{ activity.activity.activity.code ~ activity.complexity.code }}{% endxlscell %}
                    {% xlscell %}{{ activity.activity.activity.name }}{% endxlscell %}
                    {% xlscell %}{{ activity.complexity.name }}{% endxlscell %}
                    {% xlscell %}{{ activity.price }}{% endxlscell %}
                    {% xlscell %}{{ (activity.price * project.paymentStatus.penalty) | round() }}{% endxlscell %}
                    {% xlscell %}{{ (activity.price - (activity.price * project.paymentStatus.penalty)) | round() }}{% endxlscell %}
                {% endxlsrow %}
            {% endfor %}
            {% xlsrow %}
                {% set row = row + 1 %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    Total
                {% endxlscell %}
                {% xlscell %}
                {% endxlscell %}
                {% xlscell %}
                {% endxlscell %}
                {% xlscell %}
                {% endxlscell %}
                {% xlscell %}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {{ data.total }}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {{ (data.total * project.paymentStatus.penalty) | round() }}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '12', bold: 'true' } } } %}
                    {{ (data.total - (data.total * project.paymentStatus.penalty)) | round() }}
                {% endxlscell %}
            {% endxlsrow %}
        {% endfor %}

        {% xlsrow %}
            {% set row = row + 1 %}
            {% xlscell { style: { font: { size: '14', bold: 'true' } } } %}
                Total General
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell %}
            {% endxlscell %}
            {% xlscell {style: {font: { size: '14', bold: 'true' } }, merge:'H'~row } %}
                {{ (total - (total * project.paymentStatus.penalty) | round() )}}
            {% endxlscell %}
        {% endxlsrow %}

    {% endxlssheet %}
{% endxlsdocument %}