{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% set status = project.realStatus %}
{% set statusLabel = '' %}
{% set active_saved = '' %}
{% set active_activated = '' %}
{% set active_reviewed = '' %}
{% set active_approved = '' %}
{% set active_quoted = '' %}
{% set active_paid = '' %}
{% set active_frozen = '' %}
{% set active_canceled = '' %}

{% if status == 'saved' %}
    {% set active_saved = 'active' %}
    {% set statusLabel = 'Guardados' %}
{% elseif status == 'activated' %}
    {% set active_activated = 'active' %}
    {% set statusLabel = 'En Ejecución' %}
{% elseif status == 'reviewed' %}
    {% set active_reviewed = 'active' %}
    {% set statusLabel = 'En Revisión' %}
{% elseif status == 'approved' %}
    {% set active_approved = 'active' %}
    {% set statusLabel = 'Aprobados' %}
{% elseif status == 'quoted' %}
    {% set active_quoted = 'active' %}
    {% set statusLabel = 'Despachados' %}
{% elseif status == 'paid' %}
    {% set active_paid = 'active' %}
    {% set statusLabel = 'Pagados' %}
{% elseif status == 'frozen' %}
    {% set active_frozen = 'active' %}
    {% set statusLabel = 'Paralizados' %}
{% elseif status == 'canceled' %}
    {% set active_canceled = 'active' %}
    {% set statusLabel = 'Devueltos' %}
{% endif %}

{% block menu_2_3 %}{{ active_saved }}{% endblock %}
{% block menu_2_4 %}{{ active_activated }}{% endblock %}
{% block menu_2_10 %}{{ active_reviewed }}{% endblock %}
{% block menu_2_5 %}{{ active_approved }}{% endblock %}
{% block menu_2_6 %}{{ active_quoted }}{% endblock %}
{% block menu_2_7 %}{{ active_paid }}{% endblock %}
{% block menu_2_8 %}{{ active_frozen }}{% endblock %}
{% block menu_2_9 %}{{ active_canceled }}{% endblock %}


{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Detalles del Proyecto</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('project_index', {'status':status}) }}">Listado {{ statusLabel }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Detalles del Proyecto</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row margin-h-5">
        <div class="col-md-12">

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos de la Proyecto</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">

                    <div class="panel panel-tab panel-tab-double rounded shadow">
                        <!-- Start tabs heading -->
                        <div class="panel-heading no-padding">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab2-1" data-toggle="tab">
                                        <i class="fa fa-database"></i>
                                        <div>
                                            <span class="text-strong">Datos Generales</span>
                                            <span>Definición el Proyecto</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-2" data-toggle="tab">
                                        <i class="fa fa-clock-o"></i>
                                        <div>
                                            <span class="text-strong">Plazos</span>
                                            <span>Plazos del Proyecto</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-3" data-toggle="tab">
                                        <i class="fa fa-users"></i>
                                        <div>
                                            <span class="text-strong">Personal</span>
                                            <span>Personal del Proyecto</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-4" data-toggle="tab">
                                        <i class="fa fa-arrow-right"></i>
                                        <div>
                                            <span class="text-strong">Etapas</span>
                                            <span>Etapas del Proyecto</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-5" data-toggle="tab">
                                        <i class="fa fa-comment"></i>
                                        <div>
                                            <span class="text-strong">Observaciones</span>
                                            <span>Observaciones Realizadas</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.panel-heading -->
                        <!--/ End tabs heading -->

                        <!-- Start tabs content -->
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab2-1">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-body padding-15">

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Nombre:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.name }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Estado:</strong>
                                                <div class="col-sm-9">
                                                    {% set statusColor = 'inverse' %}
                                                    {% if project.realStatus == 'activated' %}
                                                        {% set statusColor = 'primary' %}
                                                    {% elseif project.realStatus == 'reviewed' %}
                                                        {% set statusColor = 'warning' %}
                                                    {% elseif project.realStatus == 'approved' %}
                                                        {% set statusColor = 'wordpress' %}
                                                    {% elseif project.realStatus == 'quoted' %}
                                                        {% set statusColor = 'lilac' %}
                                                    {% elseif project.realStatus == 'paid' %}
                                                        {% set statusColor = 'success' %}
                                                    {% elseif project.realStatus == 'frozen' %}
                                                        {% set statusColor = 'bitbucket' %}
                                                    {% elseif project.realStatus == 'canceled' %}
                                                        {% set statusColor = 'danger' %}
                                                    {% endif %}
                                                    <p class="label label-{{ statusColor }}">{{ project.status }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Dirección:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.address }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Comuna:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.comuna }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Clase:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.class }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Área:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.area }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Tipos:</strong>
                                                <div class="col-sm-9">
                                                    <ul class="no-margin no-padding padding-l-20">
                                                        {% for kind in project.kind %}
                                                            <li>{{ kind }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- /.form-body -->
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-2">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-body padding-15">
                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Plazo:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.term }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Fecha de Solicitud:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.applicationDate | date('d/m/Y') }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Fecha de Entrega:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.deliveryDate | date('d/m/Y') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-3">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-body padding-15">
                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Proyectista:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.designer.fullName }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Ejecutivo:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.executive.fullName }}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Especialista:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ project.specialist.fullName }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-4">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-body padding-15">

                                            {% for stage in project.stages %}
                                                <div class="panel panel-theme">
                                                    <div class="panel-heading no-padding">
                                                        <h3 class="panel-title">Etapa {{ loop.index }}: {{ stage.stage }}</h3>
                                                    </div><!-- /.panel-heading -->
                                                    <div class="panel-body border-bottom-form">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <strong class="no-padding control-label col-sm-3">Inicio de la Etapa:</strong>
                                                                    <div class="col-sm-9">
                                                                        {% if not stage.programationStartDate is null %}
                                                                            <p>{{ stage.programationStartDate | date('d/m/Y') }}</p>
                                                                        {% else %}
                                                                            <span class="label label-warning">NO DEFINIDA</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <strong class="no-padding control-label col-sm-3">Fin de la Etapa:</strong>
                                                                    <div class="col-sm-9">
                                                                        {% if not stage.programationEndDate is null %}
                                                                            <p>{{ stage.programationEndDate | date('d/m/Y') }}</p>
                                                                        {% else %}
                                                                            <span class="label label-warning">NO DEFINIDA</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.panel-body -->
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab2-5">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-body padding-15">
                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Observaciones:</strong>
                                                <div class="col-sm-9">
                                                    {% if project.description is not null %}
                                                        {{ project.description }}
                                                    {% else %}
                                                        <span class="label label-warning">SIN OBSERVACIONES</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.panel-body -->
                        <!--/ End tabs content -->

                        <div class="form-footer">
                            {% if app.user.charge.isProjectManager %}
                                <div class="pull-right margin-r-5">
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-list"></i> Ir al Listado <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('project_index', {'status':'saved'}) }}">Guardados</a></li>
                                            <li><a href="{{ path('project_index', {'status':'activated'}) }}">En Ejecución</a></li>
                                            <li><a href="{{ path('project_index', {'status':'reviewed'}) }}">En Revisión</a></li>
                                            <li><a href="{{ path('project_index', {'status':'approved'}) }}">Aprobados</a></li>
                                            <li><a href="{{ path('project_index', {'status':'quoted'}) }}">Despachados</a></li>
                                            <li><a href="{{ path('project_index', {'status':'paid'}) }}">Pagados</a></li>
                                            <li><a href="{{ path('project_index', {'status':'frozen'}) }}">Paralizados</a></li>
                                            <li><a href="{{ path('project_index', {'status':'canceled'}) }}">Devueltos</a></li>
                                        </ul>
                                    </div>
                                </div>

                                {% if project.realStatus != 'reviewed' and  project.realStatus != 'paid' %}
                                    <div class="pull-right margin-r-5">
                                        <a class="btn btn-default" href="{{ path('project_edit', {'id' : project.id}) }}"><i class="fa fa-edit"></i> Editar</a>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if project.realStatus != 'saved' %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-info" href="{{ path('project_timeline', {'id':project.id}) }}"><i class="fa fa-clock-o"></i> Línea de Tiempo</a>
                                </div>
                            {% endif %}

                            {% if project.realStatus == 'frozen' and app.user.charge.isProjectManager %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-danger btn-cancel" href="#"><i class="fa fa-remove"></i> Devolver</a>
                                </div>
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-primary btn-activate" href="#"><i class="fa fa-play"></i> Activar</a>
                                </div>
                            {% endif %}

                            {% if project.realStatus == 'paid' %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-primary" href="{{ path('project_execution', { 'id': project.id, 'showStage':project.currentStage }) }}"><i class="fa fa-play"></i> Ver Ejecución</a>
                                </div>
                                {% if app.user.charge.isProjectManager %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-lilac" href="{{ path('project_quote', { 'id': project.id }) }}"><i class="fa fa-money"></i> Estado de Pago</a>
                                </div>
                                {% endif %}
                            {% endif %}

                            {% if project.realStatus == 'canceled' %}
                                {% if app.user.charge.isProjectManager %}
                                    <div class="pull-right margin-r-5">
                                        <a class="btn btn-primary" href="{{ path('project_execution', { 'id': project.id, 'showStage':project.currentStage }) }}"><i class="fa fa-play"></i> Ver Ejecución</a>
                                    </div>
                                    <div class="pull-right margin-r-5">
                                        <a class="btn btn-lilac" href="{{ path('project_quote', { 'id': project.id }) }}"><i class="fa fa-money"></i> Estado de Pago</a>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if project.realStatus == 'quoted' %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-primary" href="{{ path('project_execution', { 'id': project.id, 'showStage':project.currentStage }) }}"><i class="fa fa-play"></i> Ver Ejecución</a>
                                </div>
                                {% if app.user.charge.isProjectManager %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-lilac" href="{{ path('project_quote', { 'id': project.id }) }}"><i class="fa fa-money"></i> Estado de Pago</a>
                                </div>
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-success btn-paid" href="#"><i class="fa fa-check-circle"></i> A Pagado</a>
                                </div>
                                {% endif %}
                            {% endif %}

                            {% if project.realStatus == 'approved' %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-primary" href="{{ path('project_execution', { 'id': project.id, 'showStage':project.currentStage }) }}"><i class="fa fa-play"></i> Ver Ejecución</a>
                                </div>
                                {% if app.user.charge.isProjectManager %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-lilac" href="{{ path('project_quote', { 'id': project.id }) }}"><i class="fa fa-money"></i> Estado de Pago</a>
                                </div>
                                {% endif %}
                            {% endif %}

                            {% if project.realStatus == 'reviewed' and app.user.charge.isProjectManager %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-wordpress btn-approve" href="#"><i class="fa fa-thumbs-o-up"></i> Aprobar</a>
                                </div>
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-primary btn-back-activate" href="#"><i class="fa fa-play"></i> Regresar a Ejecución</a>
                                </div>
                            {% endif %}

                            {% if project.realStatus == 'activated' %}
                                {% if app.user.charge.isProjectManager %}
                                    <div class="pull-right margin-r-5">
                                        <a class="btn btn-inverse btn-save" href="#"><i class="fa fa-save"></i> A Guardado</a>
                                    </div>
                                    <div class="pull-right margin-r-5">
                                        <a class="btn btn-danger btn-cancel" href="#"><i class="fa fa-remove"></i> Devolver</a>
                                    </div>
                                    <div class="pull-right margin-r-5">
                                        <a class="btn btn-bitbucket btn-frozen" href="#"><i class="fa fa-pause"></i> Paralizar</a>
                                    </div>
                                {% endif %}
                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-primary" href="{{ path('project_execution', { 'id': project.id, 'showStage':project.currentStage }) }}"><i class="fa fa-play"></i> Ver Ejecución</a>
                                </div>
                            {% endif %}

                            {% if project.realStatus == 'saved' and app.user.charge.isProjectManager %}
                                <div class="pull-right margin-r-5" id="delete-form">
                                    {{ form_start(deleteForm) }}
                                    <button type="submit" class="btn btn-danger btn-delete">
                                        <i class="fa fa-remove"></i> Eliminar
                                    </button>
                                    {{ form_end(deleteForm) }}
                                </div>

                                <div class="pull-right margin-r-5">
                                    <a class="btn btn-primary btn-activate" href="#"><i class="fa fa-play"></i> Activar</a>
                                </div>

                            {% endif %}

                            <div class="clearfix"></div>
                        </div><!-- /.form-footer -->
                    </div>

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
    </div>

    {# Save #}
    <div class="modal modal-primary" id="save-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-warning">
                        <form method="post" id="save-form" action="{{ path('project_back_save', {'id':project.id}) }}">
                            <h4 class="margin-t-15">Confirma que desea regresar a Guardados el Proyecto. Toda Etapa y Baremo registrado será eliminado.</h4>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-inverse" data-dismiss="modal" id="confirm-save">Aceptar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="back-save-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Guardado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto regresado a Guardado satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Delete #}
    <div class="modal modal-primary" id="delete-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea eliminar el Proyecto.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-delete">Eliminar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Activate #}
    <div class="modal modal-primary" id="activate-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea activar el Proyecto.</h4>
                    </div>
                    <div>
                        {{ form_start(logForms.activate, {'attr':{'class':'form-bordered', 'action': path('project_activate', {'id':project.id})  }}) }}
                        {% set element = logForms.activate.beginDate %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control status-change-date' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = logForms.activate.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(logForms.activate) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" url="{{ path('project_activate', {'id' : project.id}) }}" id="confirm-activate">Activar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="activated-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i> Error</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">El proyecto debe estar en estado Guardado para poder Activarse.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Back To Activate #}
    <div class="modal modal-primary" id="back-activate-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea regresar a Ejecución el Proyecto.</h4>
                    </div>
                    <div>
                        {{ form_start(logForms.back, {'attr':{'class':'form-bordered', 'action': path('project_back_to_execution', {'id':project.id})  }}) }}
                        {% set element = logForms.back.beginDate %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control status-change-date' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-label">Etapa a Regresar <span class="asterisk">*</span>:</label>
                            <select name="back-stage" class="form-control">
                                {% for s in project.stages %}
                                    <option value="{{ loop.index }}">Etapa {{ loop.index }} ( {{ s.stage }} )</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.form-group -->

                        {% set element = logForms.back.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(logForms.back) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" url="{{ path('project_activate', {'id' : project.id}) }}" id="confirm-back-activate">Regresar a Ejecución</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Approved #}
    <div class="modal modal-primary" id="approve-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea aprobar el Proyecto.</h4>
                    </div>
                    <div>
                        {{ form_start(logForms.approve, {'attr':{'class':'form-bordered', 'action': path('project_to_approved', {'id':project.id})  }}) }}
                        {% set element = logForms.approve.beginDate %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control status-change-date' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = logForms.approve.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(logForms.approve) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-wordpress" data-dismiss="modal" url="{{ path('project_to_approved', {'id' : project.id}) }}" id="confirm-approve">Aprobar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="approved-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Aprobado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto Aprobado satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Paid #}
    <div class="modal modal-primary" id="paid-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea reportar como Pagado el Proyecto.</h4>
                    </div>
                    <div>
                        {{ form_start(logForms.pay, {'attr':{'class':'form-bordered', 'action': path('project_to_paid', {'id':project.id})  }}) }}
                        {% set element = logForms.pay.beginDate %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control status-change-date' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-label">Número de Estado de Pago <span class="asterisk">*</span>:</label>
                            <input class="form-control" name="payment-code"/>
                        </div><!-- /.form-group -->

                        {% set element = logForms.pay.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(logForms.pay) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" url="{{ path('project_to_paid', {'id' : project.id}) }}" id="confirm-paid">Pagado</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="paid-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Pagado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto registrado como Pagado satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Frozen #}
    <div class="modal modal-primary" id="frozen-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea Paralizar el Proyecto.</h4>
                    </div>
                    <div>
                        {{ form_start(logForms.frozen, {'attr':{'class':'form-bordered', 'action': path('project_to_frozen', {'id':project.id})  }}) }}
                        {% set element = logForms.frozen.beginDate %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control status-change-date' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = logForms.frozen.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(logForms.frozen) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-bitbucket" data-dismiss="modal" id="confirm-frozen">Paralizar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="frozen-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Paralizado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto Paralizado satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Cancel #}
    <div class="modal modal-primary" id="cancel-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea Devolver el Proyecto.</h4>
                    </div>
                    <div>
                        {{ form_start(logForms.cancel, {'attr':{'class':'form-bordered', 'action': path('project_to_cancel', {'id':project.id})  }}) }}
                        {% set element = logForms.cancel.beginDate %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control status-change-date' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = logForms.cancel.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                        {{ form_end(logForms.cancel) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-cancel">Devolver</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="canceled-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Devuelto</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto Devuelto satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Create #}
    <div class="modal modal-success" id="create-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Proyecto creado satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Reviewed #}
    <div class="modal modal-success" id="reviewed-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Enviado a Revisión</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto enviado a Revisión satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    {# Quoted #}
    <div class="modal modal-success" id="quoted-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Despachado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Proyecto Despachado satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>

    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            //Init Controlls
            if($('select.form-control').length)
            {
                $('select.form-control').chosen({placeholder_text_single:'Seleccione...'});
            }

            $(".status-change-date").datepicker({
                autoclose:true,
                language: 'es'
            });

            {% if not project.currentLog is null %}
            $(".status-change-date").datepicker(
                'setStartDate', '{{ project.currentLog.beginDate | date('d/m/Y') }}'
            );
            {% endif %}

            //Save
            $('.btn-save').click(function () {
                $('#save-confirm-modal').modal({});
                return false;
            });

            $('#confirm-save').click(function () {
                $('#save-form').submit();
            });



            //Delete
            $('.btn-delete').click(function () {
                $('#delete-confirm-modal').modal({});
                return false;
            });

            $('#confirm-delete').click(function () {
                $('#delete-form form').submit();
            });

            //Activate
            $('.btn-activate').click(function () {
                $('#activate-confirm-modal').modal({});
                return false;
            });

            $('#confirm-activate').click(function () {
                $('#activate-confirm-modal form').submit();
            });

            {% for message in app.flashes('activated-error') %}
            $('#activate-confirm-modal').modal({});
            {% endfor %}

            //Back To Activate
            $('.btn-back-activate').click(function () {
                $('#back-activate-confirm-modal').modal({});
                return false;
            });

            $('#confirm-back-activate').click(function () {
                $('#back-activate-confirm-modal form').submit();
            });

            {% for message in app.flashes('back-execution-error') %}
                $('#back-activate-confirm-modal').modal({});
            {% endfor %}

            //Approve
            $('.btn-approve').click(function () {
                $('#approve-confirm-modal').modal({});
                return false;
            });

            $('#confirm-approve').click(function () {
                $('#approve-confirm-modal form').submit();
            });

            {% for message in app.flashes('approved-ok') %}
            $('#approved-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('approved-error') %}
            $('#approve-confirm-modal').modal({});
            {% endfor %}

            //Paid
            $('.btn-paid').click(function () {
                $('#paid-confirm-modal').modal({});
                return false;
            });

            $('#confirm-paid').click(function () {
                $('#paid-confirm-modal form').submit();
            });

            {% for message in app.flashes('paid-ok') %}
            $('#paid-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('paid-error') %}
            $('#paid-confirm-modal').modal({});
            {% endfor %}

            //Frozen
            $('.btn-frozen').click(function () {
                $('#frozen-confirm-modal').modal({});
                return false;
            });

            $('#confirm-frozen').click(function () {
                $('#frozen-confirm-modal form').submit();
            });

            {% for message in app.flashes('frozen-ok') %}
            $('#frozen-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('frozen-error') %}
            $('#frozen-confirm-modal').modal({});
            {% endfor %}

            //Cancel
            $('.btn-cancel').click(function () {
                $('#cancel-confirm-modal').modal({});
                return false;
            });

            $('#confirm-cancel').click(function () {
                $('#cancel-confirm-modal form').submit();
            });

            {% for message in app.flashes('canceled-ok') %}
            $('#canceled-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('canceled-error') %}
            $('#cancel-confirm-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('created-ok') %}
            $('#create-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('reviewed-ok') %}
            $('#reviewed-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('quoted-ok') %}
            $('#quoted-ok-modal').modal({});
            {% endfor %}

            {% for message in app.flashes('back-save-ok') %}
            $('#back-save-ok-modal').modal({});
            {% endfor %}
        });
    </script>
{% endblock %}
