{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}

{% set status = project.realStatus %}
{% set statusLabel = '' %}
{% set active_saved = '' %}
{% set active_activated = '' %}
{% set active_approved = '' %}
{% set active_quoted = '' %}
{% set active_paid = '' %}
{% set active_frozen = '' %}
{% set active_canceled = '' %}

{% if status == 'saved' %}
    {% set active_saved = 'active' %}
    {% set statusLabel = 'de Guardados' %}
{% elseif status == 'activated' %}
    {% set active_activated = 'active' %}
    {% set statusLabel = 'de en Ejecución' %}
{% elseif status == 'approved' %}
    {% set active_approved = 'active' %}
    {% set statusLabel = 'de Aprobados' %}
{% elseif status == 'quoted' %}
    {% set active_quoted = 'active' %}
    {% set statusLabel = 'de Despachados' %}
{% elseif status == 'paid' %}
    {% set active_paid = 'active' %}
    {% set statusLabel = 'de Pagados' %}
{% elseif status == 'frozen' %}
    {% set active_frozen = 'active' %}
    {% set statusLabel = 'de Paralizados' %}
{% elseif status == 'canceled' %}
    {% set active_canceled = 'active' %}
    {% set statusLabel = 'de Devueltos' %}
{% endif %}

{% block menu_2_3 %}{{ active_saved }}{% endblock %}
{% block menu_2_4 %}{{ active_activated }}{% endblock %}
{% block menu_2_5 %}{{ active_approved }}{% endblock %}
{% block menu_2_6 %}{{ active_quoted }}{% endblock %}
{% block menu_2_7 %}{{ active_paid }}{% endblock %}
{% block menu_2_8 %}{{ active_frozen }}{% endblock %}
{% block menu_2_9 %}{{ active_canceled }}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Línea de Tiempo del Proyecto</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('project_index', {'status':status}) }}">Listado {{ statusLabel }}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Línea de Tiempo del Proyecto</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row margin-h-5">
        <div class="col-md-12">
            <div class="blog-item blog-quote rounded shadow">
                <div class="blog-details">
                    <a href="{{ path('project_show', {'id':project.id}) }}">
                        <h3>{{ project.name }}</h3>
                    </a>
                    <h4><i class="fa fa-calendar"></i> {% if project.applicationDate is null %}<span class="label label-warning">NO DEFINIDO INICIO</span>{% else %}{{ project.applicationDate | date('d/m/Y') }}{% endif %} - <i class="fa fa-calendar"></i>{% if project.deliveryDate is null %} <span class="label label-warning">NO DEFINIDO FIN</span>{% else %} {{ project.deliveryDate | date('d/m/Y') }}{% endif %}</h4>
                    <h4><i class="fa fa-edit"></i> {{ project.designer.fullName }}</h4>

                    <div class="text-center margin-v-10">
                        <a href="{{ path('project_show', {'id':project.id}) }}" class="btn btn-primary margin-r-5"><i class="fa fa-eye"></i> Regresar a Detalles</a>
                    </div>

                </div><!-- blog-details -->
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Línea de Tiempo del Proyecto</h3>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="recent-activity margin-h-20 margin-v-20">
                            <!-- Start recent activity item -->
                            {% for log in project.logs %}
                                {% set statusColor = 'inverse' %}
                                {% if log.status == 'activated' %}
                                    {% set statusColor = 'primary' %}
                                {% elseif log.status == 'reviewed' %}
                                    {% set statusColor = 'warning' %}
                                {% elseif log.status == 'approved' %}
                                    {% set statusColor = 'wordpress' %}
                                {% elseif log.status == 'quoted' %}
                                    {% set statusColor = 'lilac' %}
                                {% elseif log.status == 'paid' %}
                                    {% set statusColor = 'success' %}
                                {% elseif log.status == 'frozen' %}
                                    {% set statusColor = 'bitbucket' %}
                                {% elseif log.status == 'canceled' %}
                                    {% set statusColor = 'danger' %}
                                {% endif %}
                            <div class="recent-activity-item recent-activity-{{ statusColor }}{% if loop.last %} recent-activity-last{% endif %}">
                                <div class="recent-activity-badge">
                                    <span class="recent-activity-badge-userpic"></span>
                                </div>
                                <div class="recent-activity-body">
                                    <div class="recent-activity-body-head">
                                        <div class="recent-activity-body-head-caption">
                                            <h3 class="recent-activity-body-title">{{ log.statusLabel }}</h3>
                                            {% if log.status == 'activated' %}
                                                <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#execution-details-modal"><i class="fa fa-play"></i> Detalles</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="recent-activity-body-content">
                                        <p>
                                            {% if loop.last %}
                                                <span class="text-block text-muted"><i class="fa fa-calendar"></i> {{ log.beginDate | date('d/m/Y') }}</span>
                                            {% else %}
                                                <span class="text-block text-muted"><i class="fa fa-calendar"></i> {{ log.beginDate | date('d/m/Y') }} - <i class="fa fa-calendar"></i> {{ log.endDate | date('d/m/Y') }}</span>
                                            {% endif %}
                                            {% if not log.description is null %}
                                                <span class="text-block"><strong>Observaciones: </strong> {{ log.description }}</span>
                                            {% endif %}
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <!-- End recent activity item -->
                            {% endfor %}

                        </div>
                    </div><!-- /.panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>
                            <h3 class="panel-title">
                                Gráfico de Avance del Proyecto en Días
                            </h3>
                        </div>

                    </div><!-- /.panel-heading -->

                    <div class="panel-body">
                        <div class="chartjs-wrapper margin-h-20">
                            <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                            <table class="hidden">
                                <tbody>
                                {% for data in dataSets %}
                                    <tr>
                                        <td class="label-data">{{ data.label }}</td>
                                        <td class="backgroundColor-data">{{ data.backgroundColor }}</td>
                                        <td class="data-data">{{ data.data }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-md-6 -->
    </div>

    <div class="modal fade" id="execution-details-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Detalles de la Ejecución de Proyecto</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Programación</h3>
                            <div class="recent-activity margin-h-20 margin-v-20">
                                <!-- Start recent activity item -->
                                {% for stage in project.stages %}
                                    <div class="recent-activity-item recent-activity-danger{% if loop.last %} recent-activity-last{% endif %}">
                                        <div class="recent-activity-badge">
                                            <span class="recent-activity-badge-userpic"></span>
                                        </div>
                                        <div class="recent-activity-body">
                                            <div class="recent-activity-body-head">
                                                <div class="recent-activity-body-head-caption">
                                                    <h3 class="recent-activity-body-title">Etapa {{ loop.index }}: {{ stage.stage }}</h3>
                                                </div>
                                            </div>
                                            <div class="recent-activity-body-content">
                                                <p><i class="fa fa-calendar"></i> {% if stage.programationStartDate is null %}<span class="label label-warning">NO DEFINIDO INICIO</span>{% else %} {{ stage.programationStartDate | date('d/m/Y') }}{% endif %} - <i class="fa fa-calendar"></i>{% if stage.programationEndDate is null %} <span class="label label-warning">NO DEFINIDO FIN</span>{% else %} {{ stage.programationEndDate | date('d/m/Y') }}{% endif %}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End recent activity item -->
                                {% endfor %}

                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>Ejecución</h3>
                            <div class="recent-activity margin-h-20 margin-v-20">
                                <!-- Start recent activity item -->
                                {% for stage in project.stages %}
                                    <div class="recent-activity-item recent-activity-success{% if loop.last %} recent-activity-last{% endif %}">
                                        <div class="recent-activity-badge">
                                            <span class="recent-activity-badge-userpic"></span>
                                        </div>
                                        <div class="recent-activity-body">
                                            <div class="recent-activity-body-head">
                                                <div class="recent-activity-body-head-caption">
                                                    <h3 class="recent-activity-body-title">Etapa {{ loop.index }}: {{ stage.stage }}</h3>
                                                </div>
                                            </div>
                                            <div class="recent-activity-body-content">
                                                <p>
                                                    <i class="fa fa-calendar"></i> {% if stage.executionStartDate is null %}<span class="label label-warning">SIN EJECUTAR</span>{% else %} {{ stage.executionStartDate | date('d/m/Y') }}{% endif %} - <i class="fa fa-calendar"></i>{% if stage.executionEndDate is null %} <span class="label label-warning">SIN EJECUTAR</span>{% else %} {{ stage.executionEndDate | date('d/m/Y') }}{% endif %}
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End recent activity item -->
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/chart/Chart.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var dataSets = [];

            $('table.hidden tr').each(function () {
                dataSets.push({
                   'label' : $(this).children('.label-data').text(),
                   'backgroundColor' : $(this).children('.backgroundColor-data').text(),
                   'data' : [$(this).children('.data-data').text()]
                });
            });

            var barChartData = {
                labels: [''],
                datasets: dataSets

            };


            var ctx = document.getElementById("chartjs-1");
            new Chart(ctx, {
                type: 'horizontalBar',
                data: barChartData,
                options: {
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        });

    </script>
{% endblock %}
