{% extends 'base.html.twig' %}

{% block menu_5 %}active{% endblock %}
{% block menu_5_0 %}<span class="selected"></span>{% endblock %}
{% block menu_5_4 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/sorteable/sorteable.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Crear Metodología de Trabajo</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Crear Metodología de Trabajo</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos de la Metodología de Trabajo</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">

                    {{ form_start(form, {'attr':{'class':'form-bordered'}}) }}
                    <div class="panel panel-tab panel-tab-double rounded shadow">
                        <!-- Start tabs heading -->
                        <div class="panel-heading no-padding">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab2-1" data-toggle="tab">
                                        <i class="fa fa-database"></i>
                                        <div>
                                            <span class="text-strong">Datos Generales</span>
                                            <span>Escriba los Datos Generales</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2-2" data-toggle="tab">
                                        <i class="fa fa-arrow-right"></i>
                                        <div>
                                            <span class="text-strong">Etapas a Seguir</span>
                                            <span>Defina las Etapas y Baremos</span>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div><!-- /.panel-heading -->
                        <!--/ End tabs heading -->

                        <!-- Start tabs content -->
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab2-1">
                                    {% set element = form.name %}
                                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                        <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                        {% if not element.vars.valid %}
                                            {% for error in element.vars.errors %}
                                                <p class="help-block">
                                                    <span class="text-error">{{ error.message }}</span>
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div><!-- /.form-group -->

                                    {% set element = form.description %}
                                    <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                        <label class="control-label">{{ form_label(element) }}:</label>
                                        {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                        {% if not element.vars.valid %}
                                            {% for error in element.vars.errors %}
                                                <p class="help-block">
                                                    <span class="text-error">{{ error.message }}</span>
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="tab-pane fade" id="tab2-2">
                                    <div>
                                        <h4 class="control-label">Seleccione las Etapas:</h4>
                                        <ol class="simple_with_drop vertical">
                                            {% for projectStage in projectType.stages %}
                                                {% set stage = projectStage.stage %}
                                                <li>
                                                    <div class="panel panel-theme">
                                                        <div class="panel-heading">
                                                            <div class="pull-left">
                                                                <h3 class="icon-move panel-title"><i class="fa fa-arrows"></i> {{ stage }}</h3>
                                                            </div>
                                                            <div class="pull-right">
                                                                <div class="ckbox ckbox-primary">
                                                                    <input checked name="stages[{{ stage.id }}]" stage-id="{{ stage.id }}" class="stage-selected" id="checkbox-checked{{ stage.id }}" type="checkbox">
                                                                    <label for="checkbox-checked{{ stage.id }}"></label>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div><!-- /.panel-heading -->
                                                        <div class="activity-stage-{{ stage.id }} panel-body bg-white">
                                                            <label class="control-label">Seleccione los Baremos de la Etapa:</label>
                                                            <select multiple name="activities[{{ stage.id }}][]" class="chosen-select">
                                                                {% for activity in activities %}
                                                                    <option {% if projectStage.hasActivity(activity) %}selected{% endif %} value="{{ activity.id }}">{{ activity }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div><!-- /.panel-body -->
                                                    </div>
                                                </li>
                                            {% endfor %}

                                            {% for stage in stages %}
                                            <li>
                                                <div class="panel panel-theme">
                                                    <div class="panel-heading">
                                                        <div class="pull-left">
                                                            <h3 class="icon-move panel-title"><i class="fa fa-arrows"></i> {{ stage }}</h3>
                                                        </div>
                                                        <div class="pull-right">
                                                            <div class="ckbox ckbox-primary">
                                                                <input name="stages[{{ stage.id }}]" stage-id="{{ stage.id }}" class="stage-selected" id="checkbox-checked{{ stage.id }}" type="checkbox">
                                                                <label for="checkbox-checked{{ stage.id }}"></label>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div><!-- /.panel-heading -->
                                                    <div class="activity-stage-{{ stage.id }} panel-body bg-white hidden">
                                                        <label class="control-label">Seleccione los Baremos de la Etapa:</label>
                                                        <select multiple name="activities[{{ stage.id }}][]" class="chosen-select">
                                                            {% for activity in activities %}
                                                                <option value="{{ activity.id }}">{{ activity }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div><!-- /.panel-body -->
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.panel-body -->
                        <!--/ End tabs content -->
                    </div>

                    <div class="form-footer">
                        <div class="pull-right">
                            <a class="btn btn-danger" href="{{ path('projectType_index') }}">Cancelar</a>
                            <button class="btn btn-primary" name="submit-button" type="submit" value="createAndAdd">Crear y Nuevo</button>
                            <button class="btn btn-success" name="submit-button" type="submit" value="create">Crear</button>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->
                    {{ form_end(form) }}

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
        <div class="col-md-2">

        </div>
    </div>

    <div class="modal modal-success" id="create-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Metodología de Trabajo creada satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="create-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> Error</h5>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">Error!!!. Verifique los campos en rojo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->


    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('blankon/sorteable/sorteable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            {% for message in app.flashes('created-ok') %}
                $('#create-ok-modal').modal({});
            {% endfor %}

            {% if not form.vars.valid %}
                $('#create-error-modal').modal({});
            {% endif %}

            $('.stage-selected').change(function () {
                if($(this).is(':checked'))
                {
                    //alert('activity-stage-' + $(this).attr('stage-id'));
                    $('.activity-stage-' + $(this).attr('stage-id')).removeClass('hidden');
                }
                else
                {
                    $('.activity-stage-' + $(this).attr('stage-id')).addClass('hidden');
                }
            });

            if($('.chosen-select').length){
                $('.chosen-select').chosen({placeholder_text_multiple:'Seleccione...'});
            }

            $("ol.simple_with_drop").sortable({
                group: 'no-drop',
                handle: '.icon-move',
                onDragStart: function ($item, container, _super) {
                    // Duplicate items of the no drop area
                    if(!container.options.drop)
                        $item.clone().insertAfter($item);
                    _super($item, container);
                }
            });
        });


    </script>
{% endblock %}
