<ol class="simple_with_drop vertical">
    {% if project is defined %}
        {% for stage in project.stages %}
            <li>
                <div class="panel panel-theme">
                    <div class="panel-heading no-padding">
                        <div class="pull-left">
                            <h3 class="icon-move panel-title"><i class="fa fa-arrows"></i> {{ stage.stage }}</h3>
                        </div>
                        <div class="pull-right">
                            <div class="ckbox ckbox-primary">
                                <input checked name="stages-checked[{{ stage.stage.id }}]" stage-id="{{ stage.stage.id }}" class="stage-selected" id="checkbox-checked{{ stage.stage.id }}" type="checkbox">
                                <label for="checkbox-checked{{ stage.stage.id }}"></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body border-bottom-form" id="date-stage-{{ stage.stage.id }}">
                        <input type="hidden" name="stages[]" value="{{ stage.stage.id }}">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label class="control-label">Inicio de la Etapa <span class="asterisk">*</span>:</label>
                                    <input value="{% if not stage.programationStartDate is null %}{{ stage.programationStartDate | date('d/m/Y') }}{% endif %}" name="stages-start[{{ stage.stage.id }}]" stage="{{ stage.stage.id }}" id="methodology-stage-start-{{ stage.stage.id }}" type="text" class="form-control methodology-stage-start" data-date-format="dd/mm/yyyy" text-type="date-picker">
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label class="control-label">Fin de la Etapa <span class="asterisk">*</span>:</label>
                                    <input value="{% if not stage.programationEndDate is null %}{{ stage.programationEndDate | date('d/m/Y') }}{% endif %}" name="stages-end[{{ stage.stage.id }}]" stage="{{ stage.stage.id }}" id="methodology-stage-end-{{ stage.stage.id }}" type="text" class="form-control methodology-stage-end" data-date-format="dd/mm/yyyy" text-type="date-picker">
                                </div><!-- /.form-group -->
                            </div>
                        </div>
                    </div><!-- /.panel-body -->
                </div>
            </li>
        {% endfor %}
    {% endif %}

    {% for stage in stages %}
        <li>
            <div class="panel panel-theme">
                <div class="panel-heading no-padding">
                    <div class="pull-left">
                        <h3 class="icon-move panel-title"><i class="fa fa-arrows"></i> {{ stage }}</h3>
                    </div>
                    <div class="pull-right">
                        <div class="ckbox ckbox-primary">
                            <input name="stages-checked[{{ stage.id }}]" stage-id="{{ stage.id }}" class="stage-selected" id="checkbox-checked{{ stage.id }}" type="checkbox">
                            <label for="checkbox-checked{{ stage.id }}"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body border-bottom-form hidden" id="date-stage-{{ stage.id }}">
                    <input type="hidden" name="stages[]" value="{{ stage.id }}">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label class="control-label">Inicio de la Etapa <span class="asterisk">*</span>:</label>
                                <input name="stages-start[{{ stage.id }}]" stage="{{ stage.id }}" type="text" class="form-control methodology-stage-start" data-date-format="dd/mm/yyyy" text-type="date-picker">
                            </div><!-- /.form-group -->
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label class="control-label">Fin de la Etapa <span class="asterisk">*</span>:</label>
                                <input name="stages-end[{{ stage.id }}]" id="methodology-stage-end-{{ stage.id }}" type="text" class="form-control methodology-stage-end" data-date-format="dd/mm/yyyy" text-type="date-picker">
                            </div><!-- /.form-group -->
                        </div>
                    </div>
                </div><!-- /.panel-body -->
            </div>
        </li>
    {% endfor %}
</ol>