{% for stage in stages %}
<div class="panel panel-theme">
    <div class="panel-heading no-padding">
        <h3 class="panel-title"> {{ stage }}</h3>
    </div><!-- /.panel-heading -->
    <div class="panel-body border-bottom-form">
        <input type="hidden" name="stages[]" value="{{ stage.id }}">
        <input type="hidden" checked name="stages-checked[{{ stage.id }}]" type="checkbox">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label class="control-label">Inicio de la Etapa <span class="asterisk">*</span>:</label>
                    <input name="stages-start[{{ stage.id }}]" stage="{{ stage.id }}" type="text" class="form-control methodology-stage-start" data-date-format="dd/mm/yyyy" text-type="date-picker">
                </div><!-- /.form-group -->
            </div>
            <div class="col-md-6">
                <div>
                    <label class="control-label">Fin de la Etapa <span class="asterisk">*</span>:</label>
                    <input name="stages-end[{{ stage.id }}]" id="methodology-stage-end-{{ stage.id }}" type="text" class="form-control methodology-stage-end" data-date-format="dd/mm/yyyy" text-type="date-picker">
                </div><!-- /.form-group -->
            </div>
        </div>
    </div><!-- /.panel-body -->
</div>
{% endfor %}