{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}
{% block menu_2_4 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Editar Baremo</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('project_show', {'id':project.id}) }}">Ver Proyecto</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('project_execution', {'id':project.id, 'showStage':showStage}) }}">Ejecución del Proyecto</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Editar Baremo</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div class="blog-item blog-quote rounded shadow">
                <div class="blog-details">
                    <a href="{{ path('project_show', {'id':project.id}) }}">
                        <h3>{{ project.name }} {% if not project.modification is null %} - {{ project.modification }}{% endif %}</h3>
                    </a>
                    <h4><i class="fa fa-arrow-right"></i> Etapa {{ showStage }}: {{ project.stageByOrder(showStage).stage }}</h4>
                </div><!-- blog-details -->
            </div>

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos del Baremo</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">
                    {{ form_start(form, {'attr':{'class':'form-bordered'}}) }}
                    <div class="form-body padding-15">
                        {% set element = form.activity %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = form.count %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }}:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        {% set element = form.executor %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->

                        <div class="row border-top-form margin-h-0">
                            <div class="col-md-6 padding-l-0">
                                {% set element = form.startDate %}
                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                    {% if not element.vars.valid %}
                                        {% for error in element.vars.errors %}
                                            <p class="help-block">
                                                <span class="text-error">{{ error.message }}</span>
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-6 padding-r-0">
                                {% set element = form.endDate %}
                                <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                                    <label class="control-label">{{ form_label(element) }} <span class="asterisk">*</span>:</label>
                                    {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                                    {% if not element.vars.valid %}
                                        {% for error in element.vars.errors %}
                                            <p class="help-block">
                                                <span class="text-error">{{ error.message }}</span>
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div><!-- /.form-group -->
                            </div>
                        </div>

                        {% set element = form.isProgrammed %}
                        <div class="form-group">

                            <div class="ckbox ckbox-success">
                                {{ form_widget(element) }}
                                <label class="padding-l-5" for="appbundle_projectStageActivity_isProgrammed">{{ form_label(element) }}</label>
                            </div>
                        </div><!-- /.form-group -->

                        {% set element = form.description %}
                        <div class="form-group {% if not element.vars.valid %}has-error{% endif %}">
                            <label class="control-label">{{ form_label(element) }}:</label>
                            {{ form_widget(element, {'attr' : { 'class' : 'form-control' }}) }}
                            {% if not element.vars.valid %}
                                {% for error in element.vars.errors %}
                                    <p class="help-block">
                                        <span class="text-error">{{ error.message }}</span>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.form-group -->
                    </div><!-- /.form-body -->

                    <div class="form-footer">
                        <div class="pull-right">
                            <a class="btn btn-danger" href="{{ path('project_execution', {'id':project.id, 'showStage':showStage}) }}">Cancelar</a>
                            <button class="btn btn-success" name="submit-button" type="submit" value="create">Editar</button>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->
                    {{ form_end(form) }}

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
        <div class="col-md-3"></div>
    </div>

    <div class="modal modal-success" id="edited-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Baremo editada satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="edit-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> Error</h5>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">Error!!!. Verifique los campos en rojo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#appbundle_projectStageActivity_endDate").datepicker({
                autoclose:true,
                language: 'es',
            });

            $("#appbundle_projectStageActivity_endDate").datepicker('setStartDate', $("#appbundle_projectStageActivity_startDate").val());

            $("#appbundle_projectStageActivity_startDate").datepicker({
                autoclose:true,
                language: 'es'
            }).on('changeDate', function(ev){
                $("#appbundle_projectStageActivity_endDate").val('');
                $("#appbundle_projectStageActivity_endDate").datepicker('setStartDate', ev.date);
            });

            if($('select.form-control').length)
            {
                $('select').chosen({placeholder_text_single:'Seleccione...'});
            }

            {% for message in app.flashes('edited-ok') %}
            $('#edited-ok-modal').modal({});
            {% endfor %}

            {% if not form.vars.valid %}
            $('#edit-error-modal').modal({});
            {% endif %}
        });
    </script>
{% endblock %}
