{% extends 'base.html.twig' %}

{% block menu_2 %}active{% endblock %}
{% block menu_2_0 %}<span class="selected"></span>{% endblock %}
{% block menu_2_4 %}active{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Detalles del Baremo</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('project_show', {'id':project.id}) }}">Ver Proyecto</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('project_execution', {'id':project.id, 'showStage':showStage}) }}">Ejecución del Proyecto</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Detalles del Baremo</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div class="blog-item blog-quote rounded shadow">
                <div class="blog-details">
                    <a href="{{ path('project_show', {'id':project.id}) }}">
                        <h3>{{ project.name }} {% if not project.modification is null %} - {{ project.modification }}{% endif %}</h3>
                    </a>
                    <h4><i class="fa fa-arrow-right"></i> Etapa {{ project.getStageOrder(activity.projectStage.stage) }}: {{ activity.projectStage.stage }}</h4>
                </div><!-- blog-details -->
            </div>

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos del Baremo</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">
                    <div class="form-horizontal form-bordered">
                        <div class="form-body padding-15">

                            <div class="form-group">
                                <strong class="no-padding control-label col-sm-3">Baremo:</strong>
                                <div class="col-sm-9">
                                    <p>{{ activity.activity }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <strong class="no-padding control-label col-sm-3">Cantidad:</strong>
                                <div class="col-sm-9">
                                    <p>{{ activity.count }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <strong class="no-padding control-label col-sm-3">Ejecutor:</strong>
                                <div class="col-sm-9">
                                    <p>{{ activity.executor.fullName }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <strong class="no-padding control-label col-sm-3">Ejecución:</strong>
                                <div class="col-sm-9">
                                    <p> <i class="fa fa-calendar"></i> {{ activity.startDate | date('d/m/Y')}} - <i class="fa fa-calendar"></i> {{ activity.endDate | date('d/m/Y') }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <strong class="no-padding col-sm-3 control-label">¿Es un Baremo Adicional?:</strong>
                                <div class="col-sm-9">
                                    {% if activity.isProgrammed %}
                                        <span class="label label-primary">SI</span>
                                    {% else %}
                                        <span class="label label-success">NO</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <strong class="no-padding col-sm-3 control-label">Observaciones:</strong>
                                <div class="col-sm-9">
                                    {% if activity.description is not null %}
                                        {{ activity.description }}
                                    {% else %}
                                        <span class="label label-warning">SIN OBSERVACIONES</span>
                                    {% endif %}
                                </div>
                            </div>

                        </div><!-- /.form-body -->
                    </div>

                    <div class="form-footer">
                        {% if project.realStatus == 'activated' %}
                        <div class="pull-right">
                            <a class="btn btn-success" href="{{ path('project_execution_activity_edit', {'id' : project.id, 'showStage':showStage, 'activity_id':activity.id}) }}"><i class="fa fa-edit"></i> Editar</a>
                        </div>
                        <div class="pull-right margin-h-5" id="delete-form">
                            <a type="submit" href="" class="btn btn-danger btn-delete-activity">
                                <i class="fa fa-remove"></i> Eliminar
                            </a>
                        </div>
                        {% endif %}
                        <div class="pull-right">
                            <a class="btn btn-primary" href="{{ path('project_execution', {'id':project.id, 'showStage':showStage}) }}"><i class="fa fa-play"></i> Regresar al Proyecto</a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
        <div class="col-md-3"></div>
    </div>

    <div class="modal modal-success" id="edited-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Baremo editada satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="edit-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> Error</h5>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">Error!!!. Verifique los campos en rojo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-success" id="deleted-activity-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Eliminado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h4 class="margin-t-15">Baremo eliminada satisfactoriamente.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="deleted-activity-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i> Error</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-danger">
                        <h4 class="margin-t-15">La actividad no puede ser eliminada.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-primary" id="delete-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea eliminar el Baremo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" url="{{ path('project_execution_activity_delete', {'id' : project.id, 'showStage':showStage, 'activity_id':activity.id}) }}" id="confirm-delete-activity">Eliminar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('blankon/global/plugins/bower_components/chosen_v1.2.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('blankon/global/plugins/bower_components/bootstrap-datepicker-vitalets/js/locales/bootstrap-datepicker.es.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-delete-activity').click(function () {
                $('#delete-confirm-modal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                return false;
            });

            $('#confirm-delete-activity').click(function () {
                window.location.href = $(this).attr('url');
            });
        });
    </script>
{% endblock %}
