{% extends 'base.html.twig' %}

{% block menu_5 %}active{% endblock %}
{% block menu_5_0 %}<span class="selected"></span>{% endblock %}
{% block menu_5_2 %}active{% endblock %}

{% block page_content_header %}
    <h2><i class="fa fa-plus-circle"></i>Detalles del Baremo</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">Usted está aquí:</span>
        <ol class="breadcrumb">
            <li class="active">Detalles del Baremo</li>
        </ol>
    </div>
{% endblock %}

{% block page_content_body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <!-- Start input fields - basic form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Datos del Baremo</h3>
                    </div>
                </div><!-- /.panel-heading -->

                <div class="panel-body no-padding">
                    <div class="form-horizontal form-bordered">
                        <div class="form-body">

                            <div class="panel panel-tab panel-tab-double rounded shadow">
                                <!-- Start tabs heading -->
                                <div class="panel-heading no-padding">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab2-1" data-toggle="tab">
                                                <i class="fa fa-database"></i>
                                                <div>
                                                    <span class="text-strong">Datos del Baremo</span>
                                                    <span>Datos Generales Definidos</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab2-2" data-toggle="tab">
                                                <i class="fa fa-dollar"></i>
                                                <div>
                                                    <span class="text-strong">Precios por Complejidad</span>
                                                    <span>Precios Definidos</span>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div><!-- /.panel-heading -->
                                <!--/ End tabs heading -->

                                <!-- Start tabs content -->
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab2-1">
                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Etapa:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ activity.stage }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Nombre:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ activity.name }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding control-label col-sm-3">Còdigo:</strong>
                                                <div class="col-sm-9">
                                                    <p>{{ activity.code }}</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <strong class="no-padding col-sm-3 control-label">Descripción:</strong>
                                                <div class="col-sm-9">
                                                    {% if activity.description is not null %}
                                                        {{ activity.description }}
                                                    {% else %}
                                                        <span class="label label-warning">SIN DESCRIPCIÓN</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2-2">
                                            {% for value in activity.values %}
                                                <div class="form-group">
                                                    <strong class="no-padding control-label col-sm-3">{{ value.complexity }}:</strong>
                                                    <div class="col-sm-9">
                                                        <p><i class="fa fa-dollar"></i> {{ value.value }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div><!-- /.panel-body -->
                                <!--/ End tabs content -->
                            </div>

                        </div><!-- /.form-body -->
                    </div>

                    <div class="form-footer">
                        <div class="pull-right">
                            <a class="btn btn-success" href="{{ path('activity_edit', {'id' : activity.id}) }}"><i class="fa fa-edit"></i> Editar</a>
                        </div>
                        <div class="pull-right margin-h-5" id="delete-form">
                            {{ form_start(deleteForm) }}
                                <button type="submit" class="btn btn-danger btn-delete">
                                    <i class="fa fa-remove"></i> Eliminar
                                </button>
                            {{ form_end(deleteForm) }}
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-primary" href="{{ path('activity_index') }}"><i class="fa fa-list"></i> Ir al Listado</a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->

                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End input fields - basic form-->

        </div><!-- /.col-md-6 -->
        <div class="col-md-3"></div>
    </div>

    <div class="modal modal-success" id="create-ok-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-check-square"></i> Creado</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-success">
                        <h5 class="margin-t-15">Baremo creada satisfactoriamente.</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-primary" id="delete-confirm-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                        <h4 class="margin-t-15">Confirma que desea eliminar el Baremo.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-delete">Eliminar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-delete').click(function () {
                $('#delete-confirm-modal').modal({});
                return false;
            });

            $('#confirm-delete').click(function () {
                $('#delete-form form').submit();
            });

            {% for message in app.flashes('created-ok') %}
                $('#create-ok-modal').modal({});
            {% endfor %}
        });
    </script>
{% endblock %}
